<h1>Upload a batch of users</h1>

<% if recent_batch_invitations.any? %>
  <div class="well">
    <h3>Recent batches</h3>
    <table class="recent-batches table">
      <thead>
        <tr>
          <th>Summary</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% recent_batch_invitations.each do |batch_invitation| %>
          <tr>
            <td>
              <%= link_to(admin_batch_invitation_path(batch_invitation), alt: "View this batch") do %>
                <%= batch_invitation.batch_invitation_users.count %> users by <%= batch_invitation.user.name %> at <%= batch_invitation.created_at.strftime("%H:%M on %e %B %Y") %>
              <% end %>
            </td>
            <td><%= status_message(batch_invitation) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="well">
  <%= form_for([:admin, @batch_invitation]) do |f| %>
    <h2>Upload a CSV</h2>
    <div class="row">
      <div class="span5">
        <%= f.label :user_names_and_emails, "Choose a CSV file of users with names and email addresses" %>
        <%= f.file_field(:user_names_and_emails, :accept => 'text/csv', required: true) %>
      </div>
      <div class="span5 pull-right">
        <p>The format of the CSV should be as follows:</p>
        <pre>
Name,Email
Jane Smith,jane@example.com
Winston Churchill,winston@example.com
        </pre>
      </div>
    </div>

    <p>
      <%= f.label :organisation_id, "Organisation" %>
      <%= f.select :organisation_id, organisation_options(f), organisation_select_options, { class: "chzn-select" } %>
    </p>

    <h2>Permissions for the users</h2>

    <%= render partial: "admin/shared/user_permissions", locals: { user_object: User.new } %>

    <%= f.submit "Create users and send emails", :class => 'btn btn-success' %>
  <% end %>
</div>

<script type="text/javascript">
  $(".chzn-select").chosen();
</script>
