<% if @batch_invitation.in_progress? %>
  <% content_for(:content_for_head) do %>
    <meta http-equiv="refresh" content="3">
  <% end %>
<% end %>

<h1>Creating a batch of users</h1>

<div class="well">
  <% if @batch_invitation.in_progress? %>
    <div class="alert alert-info">
      <%= status_message(@batch_invitation) %>
    </div>
  <% elsif @batch_invitation.all_successful? %>
    <div class="alert alert-success">
      <%= status_message(@batch_invitation) %>
    </div>
  <% else %>
    <div class="alert alert-error">
      <%= status_message(@batch_invitation) %>
    </div>
  <% end %>

  <table class="batch-invitation-users table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Outcome</th>
      </tr>
    </thead>
    <tbody>
      <% @batch_invitation.batch_invitation_users.each do |user| %>
        <tr class="<%= user.outcome == "failed" ? "error" : "" %>">
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.humanized_outcome %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="well">
  <%= link_to "All users", admin_users_path, class: "btn btn-primary" %>
</div>
