<% content_for :title, "Confirm change of email address" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Please enter your password to confirm the change of email address from
      <strong><%= resource.email %></strong> to <strong><%= resource.unconfirmed_email %></strong>.
    </p>

    <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :put, class: 'well'} do |f| %>
      <%= hidden_field_tag :confirmation_token, params[:confirmation_token] %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Your password"
        },
        name: "user[password]",
        type: "password"
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Confirm change"
      } %>
    <% end %>
  </div>
</div>
