<% add_app_component_stylesheet("option-select") %>
<%
  title_id = "option-select-title-#{title.parameterize}"
  checkboxes_id = "checkboxes-#{SecureRandom.hex(4)}"
  checkboxes_count_id = checkboxes_id + "-count"
  show_filter ||= false
  large ||= false

  classes = %w[app-c-option-select__container js-options-container]
  classes << "app-c-option-select__container--large" if large
%>

<% if show_filter %>
  <%
    filter_id ||= "input-#{SecureRandom.hex(4)}"
  %>
  <% filter = capture do %>
    <%= tag.label for: filter_id, class: "govuk-label govuk-visually-hidden" do %>
      Filter <%= title %>
    <% end %>

    <%= tag.input name: "option-select-filter",
      id: filter_id,
      class: "app-c-option-select__filter-input govuk-input",
      type: "text",
      aria: {
        describedby: checkboxes_count_id,
        controls: checkboxes_id
      }
    %>
  <% end %>
  <% filter_element = CGI::escapeHTML(filter) %>
<% end %>

<div
  class="app-c-option-select" data-module="option-select" data-ga4-change-category="update-filter checkbox" data-ga4-section="<%= title %>"
  <% if local_assigns.include?(:closed_on_load) && closed_on_load %>data-closed-on-load="true"<% end %>
  <% if local_assigns.include?(:closed_on_load_mobile) && closed_on_load_mobile %>data-closed-on-load-mobile="true"<% end %>
  <% if local_assigns.include?(:aria_controls_id) %>data-input-aria-controls="<%= aria_controls_id %>"<% end %>
  <% if show_filter %>data-filter-element="<%= filter_element %>"<% end %>
>
  <h3 class="app-c-option-select__heading js-container-heading">
    <span class="app-c-option-select__title js-container-button" id="<%= title_id %>"><%= title %></span>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"/></svg>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"/></svg>
  </h3>

  <%= content_tag(:div, role: "group", aria: { labelledby: title_id }, class: classes, id: options_container_id, tabindex: "-1") do %>
    <div class="app-c-option-select__container-inner js-auto-height-inner">
      <% if show_filter %>
        <span id="<%= checkboxes_count_id %>"
          class="app-c-option-select__count govuk-visually-hidden"
          aria-live="polite"
          data-single="<%= t('components.option_select.found_single') %>"
          data-multiple="<%= t('components.option_select.found_multiple') %>"
          data-selected="<%= t('components.option_select.selected') %>"></span>
      <% end %>
      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "#{key}[]",
        id: checkboxes_id,
        heading: title,
        small: true,
        visually_hide_heading: true,
        no_hint_text: true,
        items: options
      } %>
    </div>
  <% end %>
</div>
