<% content_for :title, "Manage permissions for new users" %>

<div class="page-title">
  <h1>Manage permissions for new users</h1>
</div>

<div class="well">
  <%= form_for @batch_invitation, url: :batch_invitation_permissions, method: :post do |f| %>
    <table id="editable-permissions" class="table table-bordered table-striped table-on-white">
      <thead>
        <tr class="table-header">
          <th>Application</th>
          <th>Permissions</th>
        </tr>
      </thead>
      <tbody>
        <% policy_scope(:user_permission_manageable_application).reject(&:retired?).each do |application| %>
        <tr>
          <td>
            <%= application.name %>
          </td>
          <td>
            <% permissions_for(application).each do |permission| %>
              <%= label_tag "user_application_#{application.id}_supported_permission_#{permission.id}", formatted_permission_name(application.name, permission.name) %>
              <%= check_box_tag "user[supported_permission_ids][]", permission.id, false,
                  id: "user_application_#{application.id}_supported_permission_#{permission.id}" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.submit "Create users and send emails", :class => 'btn btn-success' %>
  <% end %>
</div>
