<% content_for :title, "Manage permissions for new users" %>

<div class="page-title">
  <h1>Manage permissions for new users</h1>
</div>

<div class="well">
  <%= form_for @batch_invitation, url: :batch_invitation_permissions, method: :post do |f| %>
    <% user_object = User.new %>
    <table id="editable-permissions" class="table table-bordered table-striped table-on-white">
      <thead>
        <tr class="table-header">
          <th>Application</th>
          <th>Has access?</th>
          <th>Other Permissions</th>
        </tr>
      </thead>
      <tbody>
        <% applications_and_permissions(user_object).each do |(application, permissions)|
           attribute_name = 'user'
           supported_permission_field_name = "#{attribute_name}[supported_permission_ids][]"
           supported_permission_field_prefix = "#{attribute_name}_application_#{application.id}_supported_permission" %>
        <tr>
          <td>
            <% if application.retired? %>
            <del><%= application.name %></del>
            <% else %>
            <%= application.name %>
            <% end %>
          </td>
          <td>
            <%= label_tag "#{supported_permission_field_prefix}_#{SupportedPermission::SIGNIN_NAME}", "Has access to #{application.name}?", class: "rm" %>
            <%= check_box_tag supported_permission_field_name, application.signin_permission.id, user_object.has_access_to?(application),
                              id: "#{supported_permission_field_prefix}_#{SupportedPermission::SIGNIN_NAME}" %>
          </td>
          <td>
            <%= label_tag "#{supported_permission_field_prefix}_ids", "Permissions for #{application.name}", class: "rm" %>
            <% supported_permissions_options = application.supported_permissions.grantable_from_ui
                                               .inject({}) {|h, per| h.merge(per.name => per.id) }
               supported_permissions_options.delete(SupportedPermission::SIGNIN_NAME) %>
            <%= select_tag supported_permission_field_name,
                options_for_select(supported_permissions_options,
                user_object.permission_ids_for(application) - [application.signin_permission.id]),
                multiple: true,
                class: "chosen-select",
                id: "#{supported_permission_field_prefix}_ids",
                'data-module' => 'chosen',
            'data-placeholder' => 'Start typing to search for permissions'
            %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= f.submit "Create users and send emails", :class => 'btn btn-success' %>
  <% end %>
</div>
