<% content_for :title, "Update permissions for #{@application.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "GOV.UK apps",
         url: account_applications_path,
       },
       {
         title: "Settings",
         url: account_path,
       }
     ]
   })
%>

<%= form_tag account_application_permissions_path(@application), method: :patch do |f| %>
  <%= render "govuk_publishing_components/components/checkboxes", {
      name: "application[supported_permission_ids][]",
      heading: "Permissions",
      items: @permissions.map { |permission| { label: permission.name, value: permission.id, checked: current_user.has_permission?(permission) } },
  } %>

  <%= hidden_field_tag "application[supported_permission_ids][]", @application.signin_permission.id, id: "checkboxes-signin" %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
        text: "Update permissions"
    } %>

    <%= link_to "Cancel", account_applications_path, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
<% end %>
