<% content_for :title, "#{@application.name} access log" %>

<% content_for :breadcrumbs,
               render("govuk_publishing_components/components/breadcrumbs", {
                 collapse_on_mobile: true,
                 breadcrumbs: [
                   {
                     title: "Dashboard",
                     url: root_path,
                   },
                   {
                     title: "Applications",
                     url: doorkeeper_applications_path,
                   },
                   {
                     title: @application.name,
                     url: edit_doorkeeper_application_path(@application),
                   }
                 ]
               })
%>

<form>
<%= render "govuk_publishing_components/components/checkboxes", {
  name: "include_smokey_users",
  items: [
    {
      label: "Include Smokey Users",
      value: "true",
      checked: params["include_smokey_users"] == "true"
    }
  ]
} %>
<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Year and month"
  },
  name: "month",
  hint: "In YYYY-mm format",
  value: params["month"]
} %>
<div class="govuk-form-group">
<%= render "govuk_publishing_components/components/button", {
  text: "Submit"
} %>
</div>
</form>

<%= render "govuk_publishing_components/components/warning_text", {
  text: "Signon doesn't always mirror production databases. This data is for the #{GovukEnvironment.current} environment, it may not reflect production data."
} unless GovukEnvironment.current == "production" %>

<%= render "govuk_publishing_components/components/details", {
  title: "About this data"
} do %>
<p class="govuk-body">
  Signon records a "successful authorization" event whenever a user uses Signon to access one of the publishing
  applications. This is a record of all of these events for <%= @application.name %>.
</p>
<p class="govuk-body">
  Applications cache authentications for around 20 hours, so if a user clicks an application multiple
  times a day, they may only appear in the event log once.
</p>
<p class="govuk-body">
  <% if DateTime.current.before? DateTime.new(2025, 11, 1)  # This branch can be removed after November 2025 %>
  Note that authorization data has only been recorded in the Signon event log since November 2023, so it is not
  possible to view events before that date.
  <% else %>
  Note that data in the event log in Signon is only retained for 2 years, so it is not possible to view events
  before that date.
  <% end %>
</p>
<% end %>

<% if @logs.any? %>
  <%= render "components/table", {
    caption: pluralize(number_with_delimiter(@logs.total_count), "event"),
    caption_classes: "govuk-heading-m",
    head: [
      { text: "Time" },
      { text: "Event" },
    ],
    rows: @logs.map do |log|
      next if log.requires_admin? && !current_user.govuk_admin?

      [
        { text: formatted_date(log), format: "event-log-date" },
        { text: "#{formatted_message(log)} for #{link_to(log.user.name, log.user, class: "govuk-link")}".html_safe },
      ]
    end.compact
  } %>

  <%= paginate(@logs, theme: "gds") %>
<% else %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "No activity logged"
  } %>
<% end %>
