<% content_for :title, "Edit #{@application.name}" %>
<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Applications",
         url: doorkeeper_applications_path,
       }
     ]
   })
%>

<%= link_to "Users with access",
  users_with_access_doorkeeper_application_path(@application),
  class: "govuk-link" %>

<%= link_to "Edit supported permissions",
  doorkeeper_application_supported_permissions_path(@application),
  class: "govuk-link" %>

<%= link_to "View access log",
            access_logs_doorkeeper_application_path(@application),
            class: "govuk-link" %>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application do |f| %>
      <% if @application.errors.count > 0 %>
        <div class="alert alert-danger remove-bottom-margin">
          <ul>
            <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application name",
        },
        name: "doorkeeper_application[name]",
        type: "text",
        value: @application.name,
        autocomplete: "off"
      } %>


      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application description"
        },
        name: "doorkeeper_application[description]",
        type: "text",
        value: @application.description,
        autocomplete: "off"
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application home URL"
        },
        name: "doorkeeper_application[home_uri]",
        type: "text",
        hint: "Used to link to the app on the dashboard. Leave blank if app has no user-facing home page.",
        value: @application.home_uri,
        autocomplete: "off"
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Redirect URI"
        },
        name: "doorkeeper_application[redirect_uri]",
        type: "text",
        hint: "The app should expect this URI. Used in the signin redirect dance.",
        value: @application.redirect_uri,
        autocomplete: "off"
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "UID"
        },
        name: "doorkeeper_application[uid]",
        type: "text",
        hint: "The app has a copy of this. Used in the signin redirect dance.",
        value: @application.uid,
        autocomplete: "off"
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Secret"
        },
        name: "doorkeeper_application[secret]",
        type: "text",
        hint: "The app has a copy of this. Used in the signin redirect dance.",
        value: @application.secret,
        autocomplete: "off"
      } %>

      <%# TODO: use a checkbox component for this %>

      <div class="govuk-body">
        <label>
          <%= f.check_box :supports_push_updates %> Send push updates to this app
        </label>
        <p>Should Signon notify this application when user details are updated, users are suspended/unsuspended, or when users sign out?</p>
        <p>The application needs to implement the following routes in order to support push updates (these are normally provided by gds-sso):
          <ul>
            <ol><%= h "PUT /auth/gds/api/users/<id>" %></ol>
            <ol><%= h "POST /auth/gds/api/users/<id>/reauth" %></ol>
          </ul>
        </p>
        <p>See <%= link_to "Overlaying Permissions in this document", "https://docs.publishing.service.gov.uk/repos/signon/oauth.html#overlaying-permissions" %> for more information.</p>
      </div>

      <div class="govuk-body">
        <label>
          <%= f.check_box :api_only %> Is API-only
        </label>

        <p>
          An API-only application is one that doesn't have a user interface and is only used by API users.
          API-only applications will not appear on most pages including the dashboard.
        </p>
      </div>

      <div class="govuk-body">
        <label>
          <%= f.check_box :retired %> This application is retired
        </label>

        <p>
          Retiring an application indicates that it is no longer in use.
          Retired applications will not appear on most pages including the dashboard.
          Data associated with retired applications is not deleted.
        </p>
      </div>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
        margin_bottom: true
      } %>
    <% end %>
  </div>
</div>
