<% content_for :title, "Edit ‘#{@application.name}’" %>
<% content_for :back_link, doorkeeper_applications_path %>

<%= link_to "Users with access",
  users_with_access_doorkeeper_application_path(@application),
  class: "govuk-link" %>

<%= link_to "Edit supported permissions",
  doorkeeper_application_supported_permissions_path(@application),
  class: "govuk-link" %>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application do |f| %>
      <% if @application.errors.count > 0 %>
        <div class="alert alert-danger remove-bottom-margin">
          <ul>
            <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application name",
        },
        name: "doorkeeper_application[name]",
        type: "text",
        value: @application.name,
      } %>


      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application description"
        },
        name: "doorkeeper_application[description]",
        type: "text",
        value: @application.description,
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Application home URL"
        },
        name: "doorkeeper_application[home_uri]",
        type: "text",
        hint: "Used to link to the app on the dashboard",
        value: @application.home_uri,
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Redirect URI"
        },
        name: "doorkeeper_application[redirect_uri]",
        type: "text",
        hint: "The app should expect this URI. Used in the signin redirect dance.",
        value: @application.redirect_uri,
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "UID"
        },
        name: "doorkeeper_application[uid]",
        type: "text",
        hint: "The app has a copy of this. Used in the signin redirect dance.",
        value: @application.uid,
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Secret"
        },
        name: "doorkeeper_application[secret]",
        type: "text",
        hint: "The app has a copy of this. Used in the signin redirect dance.",
        value: @application.secret,
      } %>

      <%# TODO: use a checkbox component for this %>

      <div class="govuk-body">
        <label>
          <%= f.check_box :supports_push_updates %> Send push updates to this app
        </label>
      </div>

      <div class="govuk-body">
        <label>
          <%= f.check_box :show_on_dashboard %> Show on dashboard
        </label>
      </div>

      <div class="govuk-body">
        <label>
          <%= f.check_box :retired %> This application is retired
        </label>

        <p>
          Retiring an application will hide the application from the dashboard. It will
          not delete data. If you're retiring an app you should also disable push updates.
        </p>
      </div>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save",
        margin_bottom: true
      } %>
    <% end %>
  </div>
</div>
