<% content_for :title, "Monthly access counts to #{@application.name}" %>

<% content_for :breadcrumbs,
               render("govuk_publishing_components/components/breadcrumbs", {
                 collapse_on_mobile: true,
                 breadcrumbs: [
                   {
                     title: "Dashboard",
                     url: root_path,
                   },
                   {
                     title: "Applications",
                     url: doorkeeper_applications_path,
                   },
                   {
                     title: @application.name,
                     url: edit_doorkeeper_application_path(@application),
                   }
                 ]
               })
%>


<form class="govuk-form-group">
  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "include_smokey_users",
    items: [
      {
        label: "Include Smokey Users",
        value: "true",
        checked: params["include_smokey_users"] == "true"
      }
    ]
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Submit"
  } %>
</form>

<%= render "govuk_publishing_components/components/warning_text", {
  text: "Signon doesn't always mirror production databases. This data is for the #{GovukEnvironment.current} environment, it may not reflect production data."
} unless GovukEnvironment.current == "production" %>

<%= render "govuk_publishing_components/components/details", {
  title: "About this data (definitions and caveats)"
} do %>
  <h2 class="govuk-heading-m">Definitions</h2>
  <h3 class="govuk-heading-s">Total authorization count</h3>
  <p class="govuk-body">
    The total number of successful "authorization events" recorded for a specific application (e.g. <%= @application.name %>)
    during a month. Each time a user successfully uses signon to access an application (authorization), an event is
    logged. If the same user access an application multiple times, each event is counted, increasing the total count.
  </p>
  <h3 class="govuk-heading-s">Unique users authorization count</h3>
  <p class="govuk-body">
    The number of distinct users who have successfully "authorized" and used signon to access an application at least
    once. Regardless of how many times a user accesses an application, they are counted only once in this metric.
  </p>
  <h2 class="govuk-heading-m">Caveats</h2>
  <h3 class="govuk-heading-s">Session caching</h3>
  <p class="govuk-body">
    Applications cache user authorizations for around 20 hours. This means that if a user accesses the application
    multiple times within this window, only one "authorization event" may be recorded. Consequently, the total
    authorization count might underestimate the actual number of logins.
  </p>
  <h3 class="govuk-heading-s">User behaviour</h3>
  <p class="govuk-body">
    If a user logs out and then logs back in (for example logging out for lunch and returning later), each login will count
    as a separate authorization event. This could artificially inflate the "total authorization" count depending on
    user behaviour.
  </p>
  <h3 class="govuk-heading-s">Boundary considerations</h3>
  <p class="govuk-body">
    Users who initiate a session late in the previous month and continue using the application into the new month
    might not be counted as a unique user for the new month, even though they technically accessed the application
    during that time.
  </p>
  <h2 class="govuk-heading-m">Limitations</h2>
  <h3 class="govuk-heading-s">User intent</h3>
  <p class="govuk-body">
    Some users may access an application (e.g. <%= @application.name %>) just to look around, and not to do any
    meaningful work. For example, GDS developers might visit Publisher to familiarise themselves with the application,
    but not to do any publishing work. These metrics do not differentiate between users who actively use application
    functionality, and users who simply visit the application homepage. For applications with very small numbers (tens)
    of users, this effect can be significant.
  </p>
  <p class="govuk-body">
    You can check the <%= link_to "raw access logs", access_logs_doorkeeper_application_path(@application), class: "govuk-link" %>
    to see exactly which people have accessed the application.
  </p>
  <h3 class="govuk-heading-s">Data retention</h3>
  <p class="govuk-body">
    <% if DateTime.current.before? DateTime.new(2025, 11, 1)  # This branch can be removed after November 2025 %>
      Note that authorization data has only been recorded in the Signon event log since November 2023, so it is not
      possible to view events before that date.
    <% else %>
      Note that data in the event log in Signon is only retained for 2 years, so it is not possible to view events
      before that date.
    <% end %>
  </p>
<% end %>

<h2 class="govuk-visually-hidden">Data</h2>

<% if @monthly_access_stats.any? %>
  <%= render "components/table", {
    head: [
      { text: "Month" },
      { text: "Total authorization count" },
      { text: "Unique users authorization count" },
      { text: "Access logs" },
    ],
    rows: @monthly_access_stats.map do |month, total_count, unique_users_count|
      [
        { text: month },
        { text: total_count },
        { text: unique_users_count },
        { text: link_to("#{month} access logs", access_logs_doorkeeper_application_path(@application, month:), class: "govuk-link")},
      ]
    end
  } %>
<% else %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "No activity logged"
  } %>
<% end %>
