<h1 class="page_title">Confirm Authorisation</h1>


<div class="well">
  <h2>Authorize <%= @pre_auth.client.name %> to use your account?</h2>

  <% if @pre_auth.scopes %>
  <p>
    This application will be able to:
  </p>
  <ul>
    <% @pre_auth.scopes.each do |scope| %>
      <li><%= scope.description %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="">
    <%= form_tag oauth_authorization_path, :method => :post, html: { class: "inline_block" } do |f| %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Authorize", :class => "btn btn-success" %> or
    <% end %>
    <%= form_tag oauth_authorization_path, :method => :delete, html: { class: "inline_block" } do |f| %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Deny", :class => "btn" %>
    <% end %>
  </div>
</div>
