<p>A Signon administrator has changed your <%= link_to t('department.name'), t('department.url') %> Signon <%= account_name %> email from <%= @email_was %> to <%= @user.email %>.</p>

<p>You will now need to <%= link_to 'sign in', new_user_session_url(protocol: 'https') %> using your new email <%= @user.email %>.</p>

<p>If your email address shouldn't have changed you should contact a managing <%= t('department.name') %> editor in your organisation or your parent organisation.</p>
