<p>Hello <%= @user.name %>,</p>

<p>Your <%= link_to 'GOV.UK', "https://www.gov.uk" %> Signon <%= account_name %>, for <%= @user.email %>, is suspended. You can't request a passphrase reset on a suspended account.</p>

<% if instance_name.present? %>
<p><%= account_name.humanize %> suspensions do not suspend production accounts.</p>
<% end %>

<p>If you believe your account has been suspended in error, please contact a managing <%= link_to 'GOV.UK', "https://www.gov.uk" %> editor in your organisation (or your parent organisation). They can either unsuspend your account themselves or use the support form to get help from the <%= link_to 'GOV.UK', "https://www.gov.uk" %> team.</p>

<p>All the best,</p>

<p><%= link_to 'GOV.UK', "https://www.gov.uk" %> team</p>
<p>Government Digital Service</p>
