<p>Hello <%= @user.name %>,

<p>GOV.UK Signon accounts are suspended after <%= User::SUSPENSION_THRESHOLD_PERIOD.inspect %> of inactivity.</p>

<p>Your <%= account_name %> will be suspended <%= suspension_time %> and you will not be able to access any GOV.UK applications.</p>

<p>You’ll need to <a href="<%= new_user_session_url(protocol: 'https') %>">sign in</a> to your account to stop it being suspended.</p>

<p>If you’re unable to sign in to your account because you’ve forgotten your passphrase, you can request a new one on the sign in screen.</p>
