<% content_for :title, "UK bank holidays" %>
<% content_for :head do %>
  <meta name="description" content="UK bank holidays calendar - see UK bank holidays and public holidays for 2012 and 2013">
<% end %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Quick answer</span> UK bank holidays</h1>
    </hgroup>
  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <p>These are the dates of UK bank holidays for 2012 and 2013. Your employer doesn’t have to give you paid leave on bank or public holidays.</p>

        <div id="guide-nav" class="group">

          <div id="tabs">
            <ul>
              <li><a href="#england-and-wales" class="england-and-wales">England and Wales</a></li>
              <li><a href="#scotland" class="scotland">Scotland</a></li>
              <li><a href="#ni" class="ni">Northern Ireland</a></li>
            </ul>
          </div>

          <% @divisions.each do |division, item| -%>

            <div id="<%= division %>">

              <% item[:calendars].each do |year, c| -%>
                <%= render :partial => 'calendar', :locals => {
                  :calendar => c,
                  :caption => "#{c.year} Bank Holidays in #{c.formatted_division}",
                  :ics_caption => "Bank Holidays for #{c.year} in #{c.formatted_division}" } %>

                <% end -%>

              </div><!-- /england-and-wales -->
            <% end -%>

          </div>
          <p>If a bank holiday is on a weekend, a 'substitute' weekday becomes a bank holiday, normally the following Monday.</p>

        </div>
      </article>

      <div class="meta-data">
        <div class="inner">
          <div class="print-and-modified-date group">
            <p class="modified-date">Last updated: <%= last_updated_date.strftime('%d %B %Y') %></p>
          </div>
          <div class="data-reuse">
            <p>Re-use this data:</p>
            <ul class="api-links">
              <li class="json"><%= link_to 'JSON', calendars_path('bank-holidays', :format => :json)%></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <%= javascript_include_tag '/javascripts/publisher-tabs.js', :defer=>"defer" %>
