<% content_for :title, "UK bank holidays" %>
<% content_for :head do %>
  <meta name="description" content="UK bank holidays calendar - see UK bank holidays and public holidays for 2012 and 2013">
  <meta name="x-section-name" content="Work" />
  <meta name="x-section-link" content="/browse/work" />
  <meta name="x-section-format" content="answer" />
  
  <link rel="alternate" type="application/json" href="/bank-holidays/england-and-wales.json" />
  <link rel="alternate" type="application/json" href="/bank-holidays/scotland.json" />
  <link rel="alternate" type="application/json" href="/bank-holidays/ni.json" />
  <link rel="alternate" type="text/calendar" href="/bank-holidays/england-and-wales.ics" />
  <link rel="alternate" type="text/calendar" href="/bank-holidays/scotland.ics" />
  <link rel="alternate" type="text/calendar" href="/bank-holidays/ni.ics" />
<% end %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group bank-holiday">

  <header class="page-header group">
    <hgroup>
      <h1><span>Quick answer</span> UK bank holidays</h1>
    </hgroup>
  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <p>These are the dates of UK bank holidays for 2012 and 2013.</p>

        <div id="guide-nav" class="group">

          <div id="tabs">
            <ul>
              <li><a href="#england-and-wales" class="england-and-wales">England and Wales</a></li>
              <li><a href="#scotland" class="scotland">Scotland</a></li>
              <li><a href="#ni" class="ni">Northern Ireland</a></li>
            </ul>
          </div>

          <% @divisions.each do |division, item| -%>

            <div id="<%= division %>">
              <% if item[:whole_calendar].upcoming_event %>
              <p>The next bank holiday in <%= item[:whole_calendar].formatted_division(division) %> is</p>
                <div class="highlighted-event">
                  <p><%= item[:whole_calendar].event_today? ? "today" : item[:whole_calendar].upcoming_event.date.strftime("%e %B") %></p>
                </div>
                <% if item[:whole_calendar].event_today? %>
                  <div class="epic-bunting"><span></span></div>
                <% end %>
              <% end %>

              <% item[:calendars].each do |year, c| -%>
                <%= render :partial => 'calendar', :locals => {
                  :calendar => c,
                  :caption => "#{c.year} bank holidays in #{c.formatted_division}",
                  :ics_caption => "Bank holidays for #{c.year} in #{c.formatted_division}" } %>

                <% end -%>

              </div><!-- /england-and-wales -->
            <% end -%>

          </div>
          <p>If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>
          <p>Your employer doesn’t have to give you paid leave on bank or public holidays.</p>

        </div>
      </article>

      <div class="meta-data group">
        <div class="inner">
          <p class="modified-date">Last updated: <%= last_updated_date.strftime('%d %B %Y') %></p>
        </div>
      </div>
    </div>
   
  </section>

  <%= javascript_include_tag 'publisher-tabs.js', :defer=>"defer" %>

  <% content_for :head do %>
  <link rel="alternate" type="application/json" href="<%= calendars_path('bank-holidays', :format => :json) %>">
  <% end %>
