<% content_for :title, "Set up 2-step verification" %>

<h1>Set up 2-step verification</h1>
<div class="row">
  <div class="col-md-8">
    <p class="lead">Make your signon account more secure by setting up 2-step verification. You’ll need to install an app on your phone which will generate a security code to enter when you sign in.</p>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Install a verification app on your phone
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p class="lead">Install one of the following apps from the app store on your phone.</p>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Google Authenticator</h4>
                For iPhone, iPad, Android and Blackberry
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Duo Mobile</h4>
                For iPhone, iPad and Android
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Windows Authenticator</h4>
                For Windows phone
              </li>
            </ul>
            <a class="collapsed btn btn-success" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Next
            </a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Scan the barcode using your app
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p class="lead">In your app add a new account and scan the barcode:</p>
            <div class="no-content add-bottom-margin"><%= image_tag(qr_code_data_uri, width: 180) %></div>
            <p>Can’t use a barcode? Enter the code manually: <%= @otp_secret_key%></p>

            <a class="collapsed btn btn-success" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Next
            </a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Enter the code from your phone
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="remove-bottom-margin">
              <%= form_tag two_factor_authentication_path %>
                <%= hidden_field_tag :otp_secret_key, @otp_secret_key%>
                <div class="form-group">
                  <%= label_tag :code, 'Code from your phone' %>
                  <%= text_field_tag :code, nil,
                    class: 'form-control input-md-4 input-lg',
                    placeholder: 'Enter 6-digit code',
                    autocomplete: 'off' %>
                </div>
                <hr />
                <button name="submit" id="submit_code" class="btn btn-lg btn-success">Finish set up</button>
                <a href="/" class="btn btn-lg btn-default add-left-margin">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
