<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "#{@user.name}'s applications" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: @user.name,
         url: edit_user_path(@user),
       },
       {
        title: "#{@user.name}'s applications",
       }
     ]
   })
%>

<% if flash[:application_id] %>
<%= render "govuk_publishing_components/components/success_alert", {
    message: "Permissions updated",
    description: message_for_success(flash[:application_id], @user),
} %>
<% end %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Apps <%= @user.name %> has access to</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Permissions</span></th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove access</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_with_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
        <td class="govuk-table__cell govuk-!-text-align-right">
          <% signin_permission = @user.application_permissions.find_by!(supported_permission: application.signin_permission) %>
          <% if policy(signin_permission).edit? %>
            <% unless application.sorted_supported_permissions_grantable_from_ui(include_signin: false).empty? %>
              <%= link_to edit_user_application_permissions_path(@user, application), class: "govuk-link" do %>
                Update permissions<span class="govuk-visually-hidden"> for <%= application.name %></span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to user_application_permissions_path(@user, application), class: "govuk-link" do %>
              View permissions<span class="govuk-visually-hidden"> for <%= application.name %></span>
            <% end %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-text-align-right">
          <% signin_permission = @user.application_permissions.find_by!(supported_permission: application.signin_permission) %>
          <% if policy(signin_permission).delete? %>
            <%= link_to delete_user_application_signin_permission_path(@user, application),
                        class: "govuk-button govuk-button--warning govuk-!-margin-0",
                        data: { module: "govuk-button" } do %>
                Remove access<span class="govuk-visually-hidden"> to <%= application.name %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="govuk-heading-m" id="other-apps-table-heading">Apps <%= @user.name %> does not have access to</h2>

<table class="govuk-table" aria-labelledby="other-apps-table-heading">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Grant access</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_without_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
        <td class="govuk-table__cell govuk-!-text-align-right">
          <% if policy(UserApplicationPermission.for(@user, application)).create? %>
            <%= button_to user_application_signin_permission_path(@user, application),
                          class: "govuk-button govuk-!-margin-0",
                          data: { module: "govuk-button" } do %>
                Grant access<span class="govuk-visually-hidden"> to <%= application.name %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
