<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "#{@user.name}'s applications" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: @user.name,
         url: edit_user_path(@user),
       }
     ]
   })
%>

<% if flash[:application_id] %>
  <% content_for(:custom_alerts) do %>
    <%= render "govuk_publishing_components/components/success_alert", {
        message: "Permissions updated",
        description: message_for_success(flash[:application_id], @user),
    } %>
  <% end %>
<% end %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Apps <%= @user.name %> has access to</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Permissions</span></th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove access</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_with_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
        <td class="govuk-table__cell govuk-!-text-align-right"><%= users_applications_permissions_link(application, @user) %></td>
        <td class="govuk-table__cell govuk-!-text-align-right"><%= users_applications_remove_access_link(application, @user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="govuk-heading-m" id="other-apps-table-heading">Apps <%= @user.name %> does not have access to</h2>

<table class="govuk-table" aria-labelledby="other-apps-table-heading">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Grant access</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_without_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
        <td class="govuk-table__cell govuk-!-text-align-right">
          <% if policy(UserApplicationPermission.for(@user, application)).create? %>
            <%= grant_access_link(application, @user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
