<% content_for :title_caption, "Manage API users" %>
<% content_for :title, "Update #{@api_user.name}'s permissions for #{@application.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "API users",
         url: api_users_path,
       },
       {
         title: @api_user.name,
         url: edit_api_user_path(@api_user),
       },
       {
         title: "#{@api_user.name}'s applications",
         url: api_user_applications_path(@api_user),
       },
       {
        title: "Update #{@api_user.name}'s permissions for #{@application.name}",
       }
     ]
   })
%>

<%= form_tag api_user_application_permissions_path(@api_user, @application), method: :patch do |f| %>
  <%= render "govuk_publishing_components/components/checkboxes", {
      name: "application[supported_permission_ids][]",
      heading: "Permissions",
      items: @permissions.map { |permission| { label: permission.name, value: permission.id, checked: @api_user.has_permission?(permission) } },
  } %>

  <%= hidden_field_tag "application[supported_permission_ids][]", @application.signin_permission.id, id: "checkboxes-signin" %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
        text: "Update permissions"
    } %>

    <%= link_to "Cancel", api_user_applications_path(@api_user), class: "govuk-link govuk-link--no-visited-state" %>
  </div>
<% end %>
