<p>
  <strong>Name:</strong> <%= @user.name %>
  <%= link_to edit_user_name_path(@user) do %>
    Change<span class="invisible"> name</span>
  <% end %>
</p>

<p>
  <strong>Email:</strong> <%= @user.email %>
  <%= link_to edit_user_email_path(@user) do %>
    Change<span class="invisible"> email</span>
  <% end %>
</p>

<p>
  <strong>Role:</strong> <%= @user.role.humanize %>
  <% if policy(User).assign_role? %>
    <%= link_to edit_user_role_path(@user) do %>
      Change<span class="invisible"> role</span>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Organisation:</strong> <%= @user.organisation.present? ? @user.organisation.name : Organisation::NONE %>
  <% if policy(User).assign_organisation? %>
    <%= link_to edit_user_organisation_path(@user) do %>
      Change<span class="invisible"> organisation</span>
    <% end %>
  <% end %>
</p>

<% if policy(@user).mandate_2sv? %>
  <dl>
    <dt>Account security</dt>
    <dd>
      <% if @user.exempt_from_2sv? %>
        <p>
          The user has been made exempt from 2-step verification for the following reason: <%= @user.reason_for_2sv_exemption %>
        <% if policy(@user).exempt_from_two_step_verification? %>
          <br>
          <%= link_to 'Edit reason or expiry date for 2-step verification exemption', edit_two_step_verification_exemption_path(@user) %>
        <% end %>
        </p>
      <% elsif @user.has_2sv? %>
        <p>2-step verification enabled</p>
        <p>
          <%= link_to 'Reset 2-step verification',
            reset_two_step_verification_user_path(@user),
            data: { confirm: 'Are you sure?' },
            method: :patch
          %><br/>
          Allows user to sign in without a verification code.<br/>
          User will be prompted to set up 2-step verification again the next time they sign in.
        </p>
      <% elsif @user.require_2sv? %>
        <p>2-step verification required but not set up</p>
      <% else %>
        <p>2-step verification not set up</p>
      <% end %>

      <% unless @user.require_2sv? %>
        <p class="checkbox">
          <%= f.label :require_2sv do %>
            <%= f.check_box :require_2sv %> Mandate 2-step verification for this user <%= "(this will remove their exemption)" if @user.exempt_from_2sv? %>
          <% end %>
        <br/>
        User will be prompted to set up 2-step verification again the next time they sign in.</p>
      <% end %>
      <% if policy(@user).exempt_from_two_step_verification? && !@user.exempt_from_2sv? %>
          <p>
            <%= link_to 'Exempt user from 2-step verification', edit_two_step_verification_exemption_path(@user) %>
            <br/>
            Exempt a user from 2-step verification (requires a reason to be supplied).
          </p>
      <%end %>
    </dd>
  </dl>
<% end %>

<h2 class="add-vertical-margins"> <%= "Editable " if (current_user.publishing_manager? ) %>Permissions</h2>
<%= render partial: "shared/user_permissions", locals: { user_object: @user }%>

<% if current_user.publishing_manager? %>
    <h2 class="add-vertical-margins">All Permissions for this user</h2>
    <%= render partial: "app_permissions", locals: { user_object: @user }%>
<% end %>
