<p class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form-control input-md-6 ' %>
</p>

<p class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control input-md-6 add-label-margin' %>
  <% if f.object.persisted? %>
    <% if f.object.invited_but_not_yet_accepted? %>
      <span class="help-block">Changes will trigger a new signup email.</span>
    <% end %>
  <% end %>
</p>

<% if f.object.unconfirmed_email.present? %>
  <p class="form-group">
    <%= f.label :unconfirmed_email, "Pending email" %>
    <%= f.text_field :unconfirmed_email, readonly: "readonly", disabled: "disabled", class: 'form-control' %>

    <div class="help-block add-bottom-margin">
      <%= link_to "Resend email change", resend_email_change_user_path(f.object), :method => :put, :class => "btn btn-primary add-right-margin" %>
      <%= link_to "Cancel email change", cancel_email_change_user_path(f.object), :method => :delete, :class => "btn btn-danger" %>
    </div>
  </p>
<% end %>

<% if policy(User).assign_role? %>
  <p class="form-group">
    <%= f.label :role %><br />
    <%= f.select :role, options_for_select(filtered_user_roles.map(&:humanize).zip(filtered_user_roles), f.object.role), {}, class: "chosen-select form-control", 'data-module' => 'chosen' %>
    <span class="help-block">
      <strong>Superadmins</strong> can create and edit all user types and edit applications.<br />
      <strong>Admins</strong> can create and edit normal users.<br />
      <strong>Super Organisation Admins</strong> can unlock and unsuspend their organisation and related organisation accounts.<br />
      <strong>Organisation Admins</strong> can unlock and unsuspend their organisation accounts.
    </span>
  </p>
<% end %>

<% if policy(User).flag_2sv? %>
  <dl>
    <dt>Account security</dt>
    <dd>
      <% if f.object.has_2sv? %>
        <p>2-step verification enabled</p>
        <ul>
          <li>
            <%= link_to 'Reset 2-step verification',
              reset_two_step_verification_user_path(@user),
              data: { confirm: 'Are you sure?' },
              method: :patch
              %><br/>
            Allows user to sign in without a verification code.<br/>
            User will be prompted to set up 2-step verification again the next time they sign in.
          </li>
        </ul>
      <% else %>
        <p>2-step verification not set up</p>
        <p class="checkbox">
          <%= f.label :require_2sv do %>
            <%= f.check_box :require_2sv %> Ask user to set up 2-step verification
          <% end %>
        </p>
      <% end %>
    </dd>
  </dl>
<% end %>

<% if policy(User).assign_organisations? %>
  <p class="form-group">
    <%= f.label :organisation_id, "Organisation" %><br />
    <%= f.select :organisation_id, organisation_options(f), organisation_select_options, { class: "chosen-select form-control", 'data-module' => 'chosen' } %>
  </p>
<% end %>

<h2 class="add-vertical-margins"> <%= "Editable " if (is_org_admin? || is_super_org_admin?) %>Permissions</h2>
<%= render partial: "shared/user_permissions", locals: { user_object: f.object }%>

<% if is_org_admin? || is_super_org_admin? %>
    <h2 class="add-vertical-margins">All Permissions for this user</h2>
    <%= render partial: "app_permissions", locals: { user_object: f.object }%>
<% end %>
