<div>
  <%= form_with url: users_path, method: :get do |form| %>
    <%= render "govuk_publishing_components/components/search", {
      id: "name_or_email_filter",
      name: "filter",
      label_text: "Search by name or email",
      label_size: "s",
      value: filter.options[:filter],
      margin_bottom: 4,
    } %>

    <%= render "components/option_select", {
      key: "statuses",
      title: "Status",
      options_container_id: "statuses_filter",
      options: @filter.status_option_select_options,
    } %>

    <%= render "components/option_select", {
      key: "roles",
      title: "Roles",
      options_container_id: "roles_filter",
      closed_on_load: true,
      options: @filter.role_option_select_options,
    } %>

    <% if current_user.manageable_organisations.many? %>
      <%= render "components/option_select", {
        key: "organisations",
        title: "Organisations",
        options_container_id: "organisations_filter",
        show_filter: true,
        closed_on_load: true,
        options: @filter.organisation_option_select_options,
      } %>
    <% end %>

    <%= render "components/option_select", {
      key: "permissions",
      title: "Permissions",
      options_container_id: "permissions_filter",
      show_filter: true,
      closed_on_load: true,
      options: @filter.permission_option_select_options,
    } %>

    <div class="govuk-button-group">
      <%= render "govuk_publishing_components/components/button", {
        text: "Update results",
      } %>

      <%= link_to "Clear all filters", users_path, class: "govuk-link govuk-link--no-visited-state" %>
    </div>
  <% end %>
</div>
