<nav class="filters">
  <div class="panel panel-default">
    <header class="panel-heading">
      <% if any_filter? %>
        <%= link_to users_path,
          class: 'remove-filters inherit',
          title: 'Remove all filters' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% end %>
      <ul class="nav nav-compact nav-pills">
        <li class="nav-pill-text">
          <strong>Filter by</strong>
        </li>
        <%= render partial: 'user_filter_group', locals: {filter_type: :role} %>
        <%= render partial: 'user_filter_group', locals: {filter_type: :permission} %>
        <%= render partial: 'user_filter_group', locals: {filter_type: :status} %>
        <% if is_org_admin? %>
          <li class="nav-pill-text text-muted"><%= current_user.organisation.name %></li>
        <% else %>
          <%= render partial: 'user_filter_group', locals: {filter_type: :organisation} %>
        <% end %>
        <%= render partial: 'user_filter_group', locals: {filter_type: :two_step_status} %>
        <li class="filter-by-name">
          <%= form_tag nil, method: "get", class: 'add-left-margin form-inline' do %>
          <%= hidden_field_tag :role, params[:role] if params[:role] %>
          <%= hidden_field_tag :permission, params[:permission] if params[:permission] %>
          <%= hidden_field_tag :status, params[:status] if params[:status] %>
          <%= hidden_field_tag :organisation, params[:organisation] if params[:organisation] %>
          <%= hidden_field_tag :two_step_status, params[:two_step_status] if params[:two_step_status] %>
          <%= label_tag 'filter', 'Name or email', class: 'add-right-margin' %>
          <%= text_field_tag "filter", params[:filter], class: 'form-control filter-by-name-field' %>
          <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>
        </li>
        <li class="<% if any_filter? %>add-right-margin <% end %>pull-right">
          <% merged_params = params.permit(:filter, :role, :permission, :status, :organisation, :two_step_status).merge(format: "csv") %>
          <%= link_to "Export as CSV", merged_params, class: "btn btn-default" %>
        </li>
      </ul>
    </header>
  </div>
</nav>

<%= render partial: 'user_filter_group_no_js', locals: {filter_type: :role} %>
<%= render partial: 'user_filter_group_no_js', locals: {filter_type: :permission} %>
<%= render partial: 'user_filter_group_no_js', locals: {filter_type: :status} %>
<%= render partial: 'user_filter_group_no_js', locals: {filter_type: :organisation} %>
<%= render partial: 'user_filter_group_no_js', locals: {filter_type: :two_step_status} %>
