<% content_for :title, "Edit [#{@user.name}]" %>

<h1>Edit &ldquo;<%= @user.name %>&rdquo;</h1>

<p class="suspenders">
  User <strong><%= @user.status %></strong> &bull;
  <%= link_to "Account access log", event_logs_user_path(@user) %> &bull;
  <%= link_to "#{@user.suspended? ? "Uns" : "S"}uspend user", edit_suspension_path(@user) %>
</p>

<% if @user.invited_but_not_accepted %>
  <div class="alert alert-warning">
    <strong>Invitation not accepted yet</strong>.<br/>
    This user hasn't clicked on the link in their signup mail yet.

    <%= form_tag resend_user_invitation_path(@user) do %>
      <%= submit_tag "Resend signup email", class: "btn btn-default add-top-margin" %>
    <% end %>
  </div>
<% end %>

<% if @user.access_locked? %>
  <div class="alert alert-warning">
    <strong>Account has been locked after too many unsuccessful login attempts.</strong><br/>
    Locked accounts are automatically unlocked after 1 hour.
    <%= form_tag unlock_user_path(@user), class: 'unlock-account-form' do %>
      <%= submit_tag "Unlock account", :class => 'btn btn-default add-top-margin' %>
    <% end %>
  </div>
<% end %>

<% if @user.suspended? and @user.reason_for_suspension.present? %>
  <p class="alert alert-warning">
    <strong>User suspended:</strong> <em><%= @user.reason_for_suspension %></em>
  </p>
<% end %>

<%= form_for @user, :html => {:class => 'well add-top-margin'} do |f| %>

  <%= render partial: "form_errors" %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <hr>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
