<% content_for :title, "Edit #{@user.name}" %>

<h1>Edit <%= @user.name %></h1>

<section>
  <h2>User details</h2>
  <dl>
    <div>
      <dt>Name</dt>
      <dd><%= @user.name %></dd>
      <dd><%= link_to edit_user_name_path(@user) do %>Change<span class="invisible"> Name</span><% end %></dd>
    </div>
    <div>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dd><%= link_to edit_user_email_path(@user) do %>Change<span class="invisible"> Email</span><% end %></dd>
    </div>
    <div>
      <dt>Organisation</dt>
      <dd><%= @user.organisation_name %></dd>
      <dd>
        <% if policy(@user).assign_organisation? %>
          <%= link_to edit_user_organisation_path(@user) do %>Change<span class="invisible"> Organisation</span><% end %>
        <% end %>
      </dd>
    </div>
    <div>
      <dt>Role</dt>
      <dd><%= @user.role.humanize %></dd>
      <dd>
        <% if policy(@user).assign_role? %>
          <%= link_to edit_user_role_path(@user) do %>Change<span class="invisible"> Role</span><% end %>
        <% end %>
      </dd>
    </div>
    <div>
      <dt>Status</dt>
      <dd><%= status(@user) %></dd>
      <dd></dd>
    </div>
    <div>
      <dt>2-step verification</dt>
      <dd><%= two_step_status_with_requirement(@user) %></dd>
      <dd></dd>
    </div>
  </dl>
</section>

<section>
  <h2>Actions</h2>
  <ul>
    <li><%= link_to_access_log(@user) %></li>
    <li><%= link_to_suspension(@user) %></li>
    <li><%= link_to_resend_invitation(@user) %></li>
    <li><%= link_to_unlock(@user) %></li>
    <li><%= link_to_2sv_exemption(@user) %></li>
    <li><%= link_to_reset_2sv(@user) %></li>
    <li><%= link_to_mandate_2sv(@user) %></li>
  </ul>
</section>

<p>
  <%= link_to "Manage permissions", manage_permissions_user_path(@user) %>
</p>
