<h1>Edit your account</h1>

<%- unless current_user.errors.empty? -%>
  <div class="alert alert-danger">
    <ul class="errors">
      <%- current_user.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

<div class="well">
  <section>
    <h2>Change your email address</h2>
    <p>Changing your email address doesn't take effect until you follow the link in a confirmation email sent to the new address.</p>
    <%= form_for current_user, url: "/user", method: :put do |f| %>
      <%= f.label(:email, "Email") %>
      <%= f.text_field :email, class: "span6" %>

      <% if f.object.unconfirmed_email.present? %>
        <p>
          <%= f.label :unconfirmed_email, "You have a pending email change" %>
          <%= f.text_field :unconfirmed_email, readonly: "readonly", disabled: "disabled", :class => "span6" %>
          <span class="help-inline">
            <%= link_to "Resend email change", resend_email_change_user_path(f.object), :method => :put, :class => "btn btn-primary" %>
            <%= link_to "Cancel email change", cancel_email_change_user_path(f.object), :method => :delete, :class => "btn btn-danger" %>
          </span>
        </p>
      <% end %>

      <br>

      <%= f.submit "Change email", class: "btn btn-primary" %>
    <% end %>
  </section>
</div>
<div class="well">
  <section>
    <h2><%= t(".change_passphrase") %></h2>

    <%= form_for current_user, :url => update_passphrase_user_path do |f| %>
      <div class="row-fluid">
        <div class="span8">
          <%= f.label(:current_password, "Current passphrase") %>
          <%= f.password_field :current_password, class: 'span11' %>

          <div id="password-control-group" class="control-group">
            <%= f.label(:password, "New passphrase") %>
            <div class="input-append">
              <%= f.password_field :password, class: 'span11',
                                   :"data-weak-words" => user_email_tokens.join(","),
                                   :"data-min-password-length" => minimum_password_length %>
              <span id="password-result-span" class="add-on"><i id="password-result"></i></span>
            </div>
          </div>

          <div id="password-configuration-control-group" class="control-group">
            <%= f.label :password_confirmation, "Confirm new passphrase" %>
            <%= f.password_field :password_confirmation, class: 'span11' %>
          </div>

          <%= f.submit t(".change"), :class => 'btn btn-primary' %>
        </div>

        <div id="password-guidance" class="span4 well">
          <strong>The new passphrase</strong>
          <p id="password-too-short"><i class="icon-warning-sign"></i> must be at least 10 characters</p>
          <p id="parts-of-email"><i class="icon-warning-sign"></i> shouldn't include part or all of your email address in your passphrase</p>
          <p id="password-entropy"><i class="icon-warning-sign"></i> must be more complex. Consider using whole sentences (with spaces), lyrics or phrases to make your passphrase more memorable</p>
        </div>
      </div>
    <% end %>
  </section>
</div>
