<% content_for :title, "Edit #{@user.name}" %>

<h1>Edit <%= @user.name %></h1>

<section>
  <h2>User details</h2>
  <dl>
    <div>
      <dt>Name</dt>
      <dd><%= @user.name %></dd>
      <dd><%= link_to edit_user_name_path(@user) do %>Change<span class="invisible"> Name</span><% end %></dd>
    </div>
    <div>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dd><%= link_to edit_user_email_path(@user) do %>Change<span class="invisible"> Email</span><% end %></dd>
    </div>
    <div>
      <dt>Organisation</dt>
      <dd><%= @user.organisation.present? ? @user.organisation.name : Organisation::NONE %></dd>
      <dd>
        <% if policy(@user).assign_organisation? %>
          <%= link_to edit_user_organisation_path(@user) do %>Change<span class="invisible"> Organisation</span><% end %>
        <% end %>
      </dd>
    </div>
    <div>
      <dt>Role</dt>
      <dd><%= @user.role.humanize %></dd>
      <dd>
        <% if policy(@user).assign_role? %>
          <%= link_to edit_user_role_path(@user) do %>Change<span class="invisible"> Role</span><% end %>
        <% end %>
      </dd>
    </div>
    <div>
      <dt>Status</dt>
      <dd><%= status(@user) %></dd>
      <dd></dd>
    </div>
  </dl>
</section>

<section>
  <h2>Actions</h2>
  <ul>
    <li><%= link_to "Account access log", event_logs_user_path(@user) %></li>
    <% if policy(@user).suspension? %>
      <li><%= link_to @user.suspended? ? "Unsuspend user" : "Suspend user", edit_suspension_path(@user) %></li>
    <% end %>
    <% if @user.invited_but_not_yet_accepted? && policy(@user).resend_invitation? %>
      <li><%= link_to "Resend signup email", edit_user_invitation_resend_path(@user) %></li>
    <% end %>
    <% if @user.access_locked? && policy(@user).unlock? %>
      <li><%= link_to "Unlock account", edit_user_unlocking_path(@user) %></li>
    <% end %>
    <% if policy(@user).exempt_from_two_step_verification? %>
      <% if @user.exempt_from_2sv? %>
        <li><%= link_to 'Edit reason or expiry date for 2-step verification exemption', edit_two_step_verification_exemption_path(@user) %><li>
      <% else %>
        <li><%= link_to 'Exempt user from 2-step verification', edit_two_step_verification_exemption_path(@user) %> (requires a reason to be supplied)</li>
      <% end %>
    <% end %>
    <% if @user.has_2sv? && policy(@user).reset_2sv? %>
      <li><%= link_to 'Reset 2-step verification', edit_user_two_step_verification_reset_path(@user) %></li>
    <% end %>
    <% if !@user.require_2sv? && policy(@user).mandate_2sv? %>
      <li>
        <%= link_to(
          "Mandate 2-step verification for this user#{@user.exempt_from_2sv? ? ' (this will remove their exemption)' : nil}",
          edit_user_two_step_verification_mandation_path(@user)
        ) %>
      </li>
    <% end %>
  </ul>
</section>

<% if @user.invited_but_not_yet_accepted? %>
  <div class="alert alert-warning">
    <strong>Invitation not accepted yet</strong>.<br/>
    This user hasn't clicked on the link in their signup mail yet.
  </div>
<% end %>

<% if @user.access_locked? %>
  <div class="alert alert-warning">
    <strong>Account has been locked after too many unsuccessful login attempts.</strong><br/>
    Locked accounts are automatically unlocked after <%= User.unlock_in.inspect %>.
  </div>
<% end %>

<% if @user.suspended? and @user.reason_for_suspension.present? %>
  <p class="alert alert-warning">
    <strong>User suspended:</strong> <em><%= @user.reason_for_suspension %></em>
  </p>
<% end %>

<dl>
  <dt>Account security</dt>
  <dd>
    <% if @user.exempt_from_2sv? %>
      <p>
        The user has been made exempt from 2-step verification for the following reason: <%= @user.reason_for_2sv_exemption %>
      </p>
    <% elsif @user.has_2sv? %>
      <p>2-step verification enabled</p>
    <% elsif @user.require_2sv? %>
      <p>2-step verification required but not set up</p>
    <% else %>
      <p>2-step verification not set up</p>
    <% end %>
  </dd>
</dl>

<p>
  <%= link_to "Manage permissions", manage_permissions_user_path(@user) %>
</p>
