<% content_for :title, @user.name %>

<% content_for :breadcrumb do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Dashboard",
        url: root_path,
      },
      {
        title: "Users",
        url: users_path,
      },
      {
        title: @user.name,
      }
    ]
  } %>
<% end %>

<p class="suspenders">
  User status: <strong><%= @user.status %>
</p>

<% if @user.access_locked? %>
  <div class="alert alert-warning">
    <strong>Account has been locked after too many unsuccessful login attempts.</strong><br/>
    Locked accounts are automatically unlocked after 1 hour.
    <%= form_tag unlock_user_path(@user), class: 'unlock-account-form' do %>
      <%= submit_tag "Unlock account", :class => 'btn btn-default add-top-margin' %>
    <% end %>
  </div>
<% end %>

<ul class="govuk-list">
  <li><%= link_to "Account access log", event_logs_user_path(@user) %></li>
  <li><%= link_to "#{@user.suspended? ? "Uns" : "S"}uspend user", edit_suspension_path(@user) %></li>
</li>

<br/>

<%= render "govuk_publishing_components/components/heading", text: "Details", margin_bottom: 2 %>

<% if @user.suspended? and @user.reason_for_suspension.present? %>
  <p class="alert alert-warning">
    <strong>User suspended:</strong> <em><%= @user.reason_for_suspension %></em>
  </p>
<% end %>

<%= form_for @user do |f| %>
  <%= render partial: "form_errors" %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <%= render "govuk_publishing_components/components/button", text: "Update user" %>
<% end %>
