<% if current_user.normal? %>
  <% content_for :title, "Edit your account" %>

  <div class="page-title">
    <h1>Edit your account</h1>
  </div>

  <%- unless current_user.errors.empty? -%>
    <div class="alert alert-danger">
      <ul class="errors">
        <%- current_user.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <section class="well">
    <h2 class="remove-top-margin remove-bottom-margin">Change your email address</h2>
    <p class="text-muted bold">Changing your email address doesn’t take effect until you follow the link in a confirmation email sent to the new address.</p>
    <%= form_for current_user do |f| %>
      <% if f.object.unconfirmed_email.present? %>
        <p class="form-group">
          <%= f.label :unconfirmed_email, "You have a pending email change" %>
          <%= f.text_field :unconfirmed_email, readonly: "readonly", disabled: "disabled", class: 'form-control input-md-6' %>
        </p>
        <div class="add-bottom-margin">
          <%= link_to "Resend email change", resend_email_change_user_path(f.object), :method => :put, :class => "btn btn-primary add-right-margin" %>
          <%= link_to "Cancel email change", cancel_email_change_user_path(f.object), :method => :delete, :class => "btn btn-danger" %>
        </div>
        <hr />
      <% end %>
      <p class="form-group">
        <%= f.label(:email, "Email") %>
        <%= f.text_field :email, class: 'form-control input-md-6' %>
      </p>
      <%= f.submit "Change email", class: "btn btn-primary" %>
    <% end %>
  </section>
  <section class="well">
    <h2 class="remove-top-margin"><%= t(".change_passphrase") %></h2>
    <%= form_for current_user, :url => update_passphrase_user_path do |f| %>
      <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: current_user, updating_password: true } %>

      <%= f.submit t(".change"), :class => 'btn btn-primary add-top-margin' %>
    <% end %>
  </section>
<% else %>
  <% content_for :title, "Edit [#{@user.name}]" %>

  <h1>Edit &ldquo;<%= @user.name %>&rdquo;</h1>

  <p class="suspenders">
    User <strong><%= @user.status %></strong> &bull;
    <%= link_to "Account access log", event_logs_user_path(@user) %> &bull;
    <%= link_to "#{@user.suspended? ? "Uns" : "S"}uspend user", edit_suspension_path(@user) %>
  </p>

  <% if @user.access_locked? %>
    <div class="alert alert-warning">
      <strong>Account has been locked after too many unsuccessful login attempts.</strong><br/>
      Locked accounts are automatically unlocked after 1 hour.
      <%= form_tag unlock_user_path(@user), class: 'unlock-account-form' do %>
        <%= submit_tag "Unlock account", :class => 'btn btn-default add-top-margin' %>
      <% end %>
    </div>
  <% end %>

  <% if @user.suspended? and @user.reason_for_suspension.present? %>
    <p class="alert alert-warning">
      <strong>User suspended:</strong> <em><%= @user.reason_for_suspension %></em>
    </p>
  <% end %>

  <%= form_for @user, :html => {:class => 'well add-top-margin'} do |f| %>

    <% if @user.errors.count > 0 %>
      <div class="alert alert-danger remove-bottom-margin">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: "form_fields", locals: { f: f } %>

    <hr>

    <%= f.submit :class => 'btn btn-primary' %>
  <% end %>
<% end %>
