<% content_for :title, "Edit your account" %>
<% content_for :back_link, root_path %>

<% if current_user.unconfirmed_email.present? %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "You've requested to change your email address"
  } do %>
    <p class="govuk-body">We've sent an email to <strong><%= current_user.unconfirmed_email %></strong> with a link to confirm the change. If you haven't received this email, we can send it again:</p>

    <%= link_to "Resend confirmation email", resend_email_change_user_path(current_user), method: :put, class: "govuk-button app-button--no-margin" %>
    <%= link_to "Cancel change", cancel_email_change_user_path(current_user), method: :delete, class: "govuk-link app-link--inline" %>
  <% end %>
<% end %>

<%= render partial: "form_errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Change your email address</h2>

    <%= form_for current_user, url: update_email_user_path do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Email address"
        },
        name: "user[email]",
        type: "email",
        id: "user_email",
        value: current_user.email,
        hint: "Changing your email address doesn’t take effect until you follow the link in a confirmation email sent to the new address."
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Change email"
      } %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

    <h2 class="govuk-heading-m"><%= t(".change_password") %></h2>
    <%= form_for current_user, :url => update_password_user_path do |f| %>
      <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: current_user, updating_password: true } %>
    <% end %>
  </div>
</div>
