<% content_for :title, "#{@user.name} account log" %>

<% content_for :breadcrumb do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Dashboard",
        url: root_path,
      },
      {
        title: "Users",
        url: users_path,
      },
      {
        title: @user.name,
        url: edit_user_path_by_user_type(@user),
      },
      {
        title: "Edit",
      }
    ]
  } %>
<% end %>

<% if @logs.any? %>
  <%= paginate(@logs, theme: 'twitter-bootstrap-3', pagination_class: 'remove-top-margin') %>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Time</th>
        <th class="govuk-table__header">Event</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @logs.each do |log| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__header" style="width: 200px;">
            <%= log.created_at.to_s(:govuk_date_short) %>
          </td>
          <td class="govuk-table__cell">
            <%= log.event %>

            <% if log.application %>
              for <strong><%= log.application.name %></strong>
            <% end %>

            <% if log.initiator %>
              by <strong><%= link_to log.initiator.name, users_path(filter: log.initiator.email), title: log.initiator.email %></strong>
            <% end %>

            <%= log.trailing_message %>

            <% if log.ip_address %>
              <%= log.ip_address_string %>
            <% end %>

            <% if log.user_agent_id %>
                <% browser = Browser.new(log.user_agent_string) %>
                (browser: <%= browser.name + ' ' + browser.version %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate(@logs, theme: 'twitter-bootstrap-3', pagination_class: 'remove-top-margin') %>
<% else %>
  No activity logged
<% end %>
