<% content_for :title, "Users" %>
<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
       }
     ]
   })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= formatted_number_of_users(@users) %></h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <% if policy(User).new? %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Create user",
          href: new_user_invitation_path,
          margin_bottom: 4,
        } %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Upload a batch of users",
          href: new_batch_invitation_path,
          margin_bottom: 4,
        } %>
      <% end %>
      <% if policy(BulkGrantPermissionSet).new? %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Grant access to all users",
          href: new_bulk_grant_permission_set_path,
          margin_bottom: 4,
        } %>
      <% end %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/button", {
      text: "Export #{formatted_number_of_users(@users)} as CSV",
      href: url_for(format: "csv"),
      margin_bottom: 4,
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/table", {
      caption: "Users",
      caption_classes: "govuk-visually-hidden",
      head: [
        { text: "Name" },
        { text: "Email" },
        { text: "Role" },
        { text: "Organisation" },
        { text: "Last sign-in" },
        { text: "Status" },
        { text: "#{two_step_abbr_tag} Status".html_safe },
      ],
      rows: @users.map do |user|
        [
          { text: user_name(user) },
          { text: user.email },
          { text: user.role.humanize },
          { text: user.organisation.try(:name) },
          { text: user.current_sign_in_at ? "#{time_ago_in_words(user.current_sign_in_at)} ago" : "never signed in" },
          { text: user.status.humanize },
          { text: two_step_status(user) },
        ]
      end,
    } %>

    <%= paginate(@users, theme: "gds") %>
  </div>
</div>
