<% content_for :title, "Users" %>
<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
       }
     ]
   })
%>

<% content_for :top_right do %>
  <div class="govuk-form-group users-index-button-group">
    <% if policy(User).new? %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Create user",
        href: new_user_invitation_path,
        margin_bottom: 4,
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Upload a batch of users",
        href: new_batch_invitation_path,
        margin_bottom: 4,
      } %>
    <% end %>
    <% if policy(BulkGrantPermissionSet).new? %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Grant access to all users",
        href: new_bulk_grant_permission_set_path,
        margin_bottom: 4,
      } %>
    <% end %>
  </div>
<% end %>

<% filtered_users_id = "filtered-users" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "users_filter", filter: @filter, filtered_users_id: %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= content_tag :div, id: filtered_users_id do %>
      <%= render "govuk_publishing_components/components/table", {
        caption: filtered_users_heading(@users),
        head: [
          { text: "Name" },
          { text: "Email" },
          { text: "Role" },
          { text: "Organisation" },
          { text: "Last sign-in" },
          { text: "Status" },
          { text: "#{two_step_abbr_tag} Status".html_safe },
        ],
        rows: @users.map do |user|
          [
            { text: user_name(user) },
            { text: user.email },
            { text: user.role.humanize },
            { text: user.organisation.try(:name) },
            { text: user.current_sign_in_at ? "#{time_ago_in_words(user.current_sign_in_at)} ago" : "never signed in" },
            { text: user.status.humanize },
            { text: two_step_status(user) },
          ]
        end,
      } %>
    <% end %>

    <%= paginate(@users, theme: "gds") %>
  </div>
</div>
