<% content_for :optional_javascripts do %>
  <%= javascript_include_tag 'password-strength-indicator' %>
<% end %>

<div id="password-change-panel" class="row-fluid">
  <div class="row-fluid">
    <div class="span5">

      <% if (defined? updating_password) && updating_password %>
        <%= f.label(:current_password, "Current passphrase") %>
        <%= f.password_field :current_password, class: 'span10', :required => true, :"aria-required" => true %>
      <% end %>

      <div id="password-control-group" class="control-group">
        <%= f.label(:password, "New passphrase") %>
        <div class="input-append">
          <%= f.password_field :password, class: 'span10',
                               :"data-weak-words" => user_email_tokens(user).join(","),
                               :"data-min-password-length" => minimum_password_length,
                               :required => true, :"aria-required" => true %>
          <span id="password-result-span" class="add-on"><i id="password-result"></i></span>
        </div>
      </div>
    </div>

    <div class="guidance-panel span7">
      <div id="password-guidance">
        <strong>The new passphrase</strong>
        <p id="password-too-short"><i class="icon-warning-sign"></i> must be at least 10 characters</p>
        <p id="parts-of-email"><i class="icon-warning-sign"></i> shouldn't include part or all of your email address in your passphrase</p>
        <p id="password-entropy"><i class="icon-warning-sign"></i> must be more complex. Consider using whole sentences (with spaces), lyrics or phrases to make your passphrase more memorable</p>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5">
      <div id="password-confirmation-control-group" class="control-group">
        <%= f.label :password_confirmation, "Confirm new passphrase" %>
        <div class="input-append">
          <%= f.password_field :password_confirmation, class: 'span10',
                               :required => true, :"aria-required" => true %>
          <span id="password-confirmation-result-span" class="add-on"><i id="password-confirmation-result"></i></span>
        </div>
      </div>
    </div>

    <div class="guidance-panel span7">
      <div id="password-confirmation-guidance">
        <p id="password-confirmation-match"><i class="icon-warning-sign"></i> The confirmation must match the password</p>
      </div>
    </div>
  </div>
</div>
