<% content_for :optional_javascripts do %>
  <%= javascript_include_tag 'password-strength-indicator' %>
<% end %>

<div id="password-change-panel">
  <div class="row">
    <div class="col-md-5">

      <% if (defined? updating_password) && updating_password %>
        <div class="form-group">
          <%= f.label(:current_password, "Current passphrase") %>
          <%= f.password_field :current_password, :required => true, :"aria-required" => true, class: 'form-control input-md-5' %>
        </div>
      <% end %>

      <div id="password-control-group" class="form-group">
        <%= f.label(:password, "New passphrase") %>
        <div class="input-group">
          <%= f.password_field :password,
                               :"data-weak-words" => user_email_tokens(user).join(","),
                               :"data-min-password-length" => minimum_password_length,
                               :required => true, :"aria-required" => true,
                               :class => 'form-control input-md-5' %>
          <span id="password-result-span" class="input-group-addon">
            <i id="password-result" class="glyphicon glyphicon-ok"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="guidance-panel col-md-7">
      <div id="password-guidance">
        <div class="alert alert-warning">
          <h3 class="remove-top-margin">Your new passphrase</h3>
          <p id="password-too-short">Must be <strong>at least 10 characters</strong></p>
          <p id="parts-of-email">Shouldn’t include part or all of your email address</p>
          <p id="password-entropy">Must be <strong>more complex</strong>. Consider using whole sentences (with spaces), lyrics or phrases to make your passphrase more memorable</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div id="password-confirmation-control-group" class="control-group">
        <%= f.label :password_confirmation, "Confirm new passphrase" %>
        <div class="input-group">
          <%= f.password_field :password_confirmation,
                               :required => true, :"aria-required" => true,
                               :class => 'form-control input-md-5' %>
          <span id="password-confirmation-result-span" class="input-group-addon">
            <i id="password-confirmation-result" class="glyphicon glyphicon-ok"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="guidance-panel col-md-7">
      <div id="password-confirmation-guidance">
        <div class="alert alert-warning">
          <p id="password-confirmation-match">The confirmation must match the password</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%- submit_text = t("users.edit.change") if local_assigns[:submit_text].nil? %>
  <%= f.submit submit_text, class: 'btn btn-primary add-top-margin' %>
</div>
