<h1>Request a passphrase reset</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'well' }) do |f| %>

  <div class="alert alert-warning" style="color: black;">
    <p>
      <strong>Update: 11:15 GMT, Thursday 7th March</strong><br>
      We have resolved the problem with our system that was preventing
      passphrase reset emails from being sent. This was caused by a higher than
      expected volume of emails going through our system. We're sorry for any
      inconvenience that this caused you.
    </p>
    <p>
      If you haven't changed your passphrase since 8pm on Wednesday 6th March you must enter your email below to request a passphrase reset.
    </p>
    <p>
      From 6th March we have changed the GOV.UK passphrase policy. You must now change your passphrase at least once every 90 days.
    </p>
  </div>

  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :class => 'span6', autofocus: true %>

  <hr>

  <%= f.submit t('.send_passphrase_reset'), :class => 'btn btn-primary' %>
<% end %>

<%= render "links" %>
