<h1>Request a passphrase reset</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'well' }) do |f| %>

  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :class => 'span6', autofocus: true %>

  <hr>

  <%= f.submit t('.send_passphrase_reset'), :class => 'btn btn-primary' %>
<% end %>

<%= render "links" %>
