<h1>Request a passphrase reset</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'well' }) do |f| %>

  <div class="alert alert-warning" style="color: black;">
    <p>
      <strong>Update: 11:00 GMT, Thursday 7th March</strong><br>
      We are experiencing temporary difficulties sending passphrase reset
      emails. Until this is fixed, it will not be possible to sign on to any
      GDS applications. We are working hard to fix this and expect to have a
      resolution by midday GMT on Thursday 7th March.
    </p>
    <p>
      From 6th March we have changed the GOV.UK passphrase policy. You must now change your passphrase at least once every 90 days.
    </p>
  </div>

  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :class => 'span6', autofocus: true %>

  <hr>

  <%= f.submit t('.send_passphrase_reset'), :class => 'btn btn-primary' %>
<% end %>

<%= render "links" %>
