<% content_for :title, "Edit permission" %>

<ol class="breadcrumb">
  <li><%= link_to 'Applications', doorkeeper_applications_path %></li>
  <li><%= link_to @application.name, edit_doorkeeper_application_path(@application) %></li>
  <li><%= link_to 'Permissions', doorkeeper_application_supported_permissions_path(@application) %></li>
  <li class="active">Edit permission</li>
</ol>

<div class="page-title">
  <h1>Edit permission “<%= @supported_permission.name %>”</h1>
</div>

<%= render 'form' %>
