<% content_for :title, "Suspend #{@user.name}" %>

<% content_for :breadcrumb do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Dashboard",
        url: root_path,
      },
      {
        title: "Users",
        url: users_path,
      },
      {
        title: @user.name,
        url: edit_user_path_by_user_type(@user),
      },
      {
        title: "Suspension",
      }
    ]
  } %>
<% end %>

<%= form_tag suspension_path(@user), method: "put" do %>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="nationality-1" name="user[suspended]" type="checkbox" value="1" <%= @user.suspended? ? "checked" : "" %>>
      <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
        Suspended?
      </label>
    </div>
  </div>
  <br/>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Reason for suspension"
    },
    name: "user[reason_for_suspension]",
    type: "text",
    value: @user.reason_for_suspension,
  } %>

  <%= render "govuk_publishing_components/components/button", text: "Update user" %>
<% end %>
