<% if @api_user.errors.present? %>
  <div class="alert alert-danger">
    <ul>
      <% @api_user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form-control input-md-6', required: true %>
</p>

<p class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control input-md-6', required: true %>
</p>

<% unless f.object.new_record? %>
  <h2 class="add-vertical-margins">Tokens</h2>

  <% if authorisation = flash[:authorisation] %>
    <div class="alert alert-danger">
      Make sure to copy the access token for <%= authorisation[:application_name] %> now. You won't be able to see it again!
    </div>
    <div class="alert alert-info">
      Access token for <%= authorisation[:application_name] %>: <span id='access-token'><%= authorisation[:token] %></span>
      <%= link_to 'Copy to clipboard', '#', class: 'btn btn-info add-left-margin', data: { 'clipboard-target' => 'access-token' }, id: 'clip-button', title: 'Click to copy access token' %>
    </div>
  <% end %>
  <table class="table table-bordered table-on-white">
    <thead>
      <tr class="table-header">
        <th>Application</th>
        <th>Token (hidden)</th>
        <th>Generated</th>
        <th>Expires</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @api_user.authorisations.where(revoked_at: nil).each do |authorisation| %>
        <tr>
          <td><%= authorisation.application.name %></td>
          <td><code><%= truncate_access_token(authorisation.token) %></code></td>
          <td>
            <%= Time.at(authorisation.created_at).to_date.to_s(:govuk_date) %>
          </td>
          <td>
            <%= Time.at(authorisation.created_at.to_f + authorisation.expires_in).to_date.to_s(:govuk_date) %>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to "Re-generate", revoke_api_user_authorisation_path(@api_user.id, authorisation.id, regenerate: true), class: "btn btn-default" %>
              <%= link_to "Revoke", revoke_api_user_authorisation_path(@api_user.id, authorisation.id), class: "btn btn-default" %>
            </div>
          </td>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to [:new, @api_user, :authorisation], class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-plus glyphicon-smaller-than-text"></span> Add application token
    <% end %>
  </p>

  <% if @api_user.authorisations.present? %>
    <hr />
    <h2 class="add-vertical-margins">Permissions</h2>
    <%= render partial: "shared/user_permissions", locals: { user_object: f.object }%>
  <% end %>

<% end %>

<script>
  $(document).ready(function() {
    new ZeroClipboard($("#clip-button"));
  });
</script>
