<% content_for :title, "Edit #{@api_user.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "API users", api_users_path %></li>
  <li><%= "Edit #{@api_user.name}" %></li>
</ol>

<h1>Edit API User <%= @api_user.name %></h1>

<p class="suspenders">
  User <strong><%= @api_user.status %></strong> &bull;
  Created <%= time_ago_in_words(@api_user.created_at) %> ago &bull;
  <%= link_to "Account access log", event_logs_user_path(@api_user) %> &bull;
  <% if policy(@api_user).suspension? %>
    <%= link_to "#{@api_user.suspended? ? "Uns" : "S"}uspend user", edit_suspension_path(@api_user) %>
  <% end %>
</p>

<% if @api_user.suspended? and @api_user.reason_for_suspension.present? %>
  <p class="alert alert-warning">
    <strong>User suspended:</strong> <em><%= @api_user.reason_for_suspension %></em>
  </p>
<% end %>

<%= form_for @api_user, :html => {:class => 'well add-top-margin'} do |f| %>
  <% if @api_user.errors.present? %>
    <div class="alert alert-danger">
      <ul>
        <% @api_user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "off", class: 'form-control input-md-6', required: true %>
  </p>

  <p class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, autocomplete: "off", class: 'form-control input-md-6', required: true %>
  </p>

  <%= f.submit 'Update API user', :class => 'btn btn-primary' %>
<% end %>

<p>
  <%= link_to "Manage permissions", manage_permissions_api_user_path(@api_user) %>
</p>

<p>
  <%= link_to "Manage tokens", manage_tokens_api_user_path(@api_user) %>
</p>
