<% content_for :title, "Edit [#{@api_user.name}]" %>

<h1>Edit API User &ldquo;<%= @api_user.name %>&rdquo;</h1>

<p class="suspenders">
  User <strong><%= @api_user.status %></strong> &bull;
  <%= link_to "Account access log", event_logs_user_path(@api_user) %> &bull;
  <%= link_to "#{@api_user.suspended? ? "Uns" : "S"}uspend user", edit_suspension_path(@api_user) %>
</p>

<% if @api_user.suspended? and @api_user.reason_for_suspension.present? %>
  <p class="alert alert-warning">
    <strong>User suspended:</strong> <em><%= @api_user.reason_for_suspension %></em>
  </p>
<% end %>

<%= form_for @api_user, :html => {:class => 'well add-top-margin'} do |f| %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <% if @api_user.authorisations.present? %>
    <hr />
    <h2 class="add-vertical-margins">Permissions</h2>
    <%= render partial: "shared/user_permissions", locals: { user_object: f.object }%>
  <% end %>

  <hr>

  <%= f.submit 'Update API user', :class => 'btn btn-primary' %>
<% end %>

<h2 class="add-vertical-margins">Tokens</h2>

<% if authorisation = flash[:authorisation] %>
  <div class="alert alert-danger">
    Make sure to copy the access token for <%= authorisation["application_name"] %> now. You won't be able to see it again!
  </div>
  <div class="alert alert-info">
    Access token for <%= authorisation["application_name"] %>: <span id='access-token'><%= authorisation["token"] %></span>
    <%= link_to 'Copy to clipboard', '#', class: 'btn btn-info add-left-margin', data: { 'clipboard-target' => 'access-token' }, id: 'clip-button', title: 'Click to copy access token' %>
  </div>
<% end %>
<table class="table table-bordered table-on-white">
  <thead>
    <tr class="table-header">
      <th>Application</th>
      <th>Token (hidden)</th>
      <th>Generated</th>
      <th>Expires</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @api_user.authorisations.where(revoked_at: nil).each do |authorisation| %>
      <tr>
        <td><%= authorisation.application.name %></td>
        <td><code><%= truncate_access_token(authorisation.token) %></code></td>
        <td>
          <%= Time.at(authorisation.created_at).to_date.to_s(:govuk_date) %>
        </td>
        <td>
          <%= Time.at(authorisation.created_at.to_f + authorisation.expires_in).to_date.to_s(:govuk_date) %>
        </td>
        <td>
          <div class="btn-group">
            <%= form_tag(revoke_api_user_authorisation_path(@api_user.id, authorisation.id, regenerate: true), method: "post") do %>
            <%= submit_tag("Re-generate", class: "btn btn-default") %>
            <% end %>
            <%= form_tag(revoke_api_user_authorisation_path(@api_user.id, authorisation.id), method: "post") do %>
            <%= submit_tag("Revoke", class: "btn btn-default") %>
            <% end %>
          </div>
        </td>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to [:new, @api_user, :authorisation], class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-plus glyphicon-smaller-than-text"></span> Add application token
  <% end %>
</p>

<script>
  $(document).ready(function() {
    new ZeroClipboard($("#clip-button"));
  });
</script>
