<% content_for :title, "API Users" %>

<div class="row">
  <div class="col-md-5 page-title remove-top-margin">
    <h1>API Users</h1>
  </div>

  <div class="col-md-7 text-right">
    <%= link_to "Create API user", new_api_user_path, class: "btn btn-success add-top-margin" %>
  </div>
</div>

  <table class="table table-striped table-bordered" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th scope="col" style="width: 300px">Name and email</th>
        <th scope="col">Apps</th>
        <th scope="col">Role</th>
        <th scope="col" style="width: 75px">Sign-ins</th>
        <th scope="col">Created</th>
        <th scope="col">Suspended?</th>
      </tr>
      <tr class="if-no-js-hide table-header-secondary">
        <td colspan="6">
          <form>
            <label for="api-filter" class="rm">Filter API users</label>
            <input id="api-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter API users">
          </form>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @api_users.each do |user| %>
        <tr>
          <td class="email">
            <%= user.suspended? ? "<del>".html_safe : "" %>
              <%= link_to "#{user.name}", edit_api_user_path(user), class: 'bold js-open-on-submit' %>
            <%= user.suspended? ? "</del>".html_safe : "" %>
            <span class="text-muted"><br /><%= user.email %></span>
          </td>
          <td>
            <% visible_applications(user).each do |application| %>
              <% if permissions_for_application = user.permissions_for(application) %>
                <abbr title="Permissions: <%= permissions_for_application.to_sentence %>" data-toggle="tooltip" data-placement="right"><%= application.name %></abbr><br />
              <% end %>
            <% end %>
          </td>
          <td class="role"><%= user.role.humanize %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= time_ago_in_words(user.created_at) %> ago</td>
          <td><%= user.suspended? ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
