<% content_for :title, "Manage permissions for #{@api_user.name}" %>

<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "API users", api_users_path %></li>
  <li><%= link_to @api_user.name, edit_api_user_path(@api_user) %></li>
  <li class="active">Manage permissions</li>
</ol>

<h1>Manage permissions for API User <%= @api_user.name %></h1>

<%= form_for @api_user, :html => {:class => 'well add-top-margin'} do |f| %>
  <% if applications_and_permissions(@api_user).any? %>
    <hr />
    <h2 class="add-vertical-margins">Permissions</h2>
    <%= render partial: "shared/user_permissions", locals: { user_object: f.object }%>
  <% end %>

  <%= f.submit 'Update API user', :class => 'btn btn-primary' %>
<% end %>
