<h1>Sign in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'well', autocomplete: 'on' }) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'span6', autofocus: 'autofocus' %>

  <%= f.label :password, "Passphrase" %>
  <%= f.password_field :password, class: 'span6' %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox" for="remember_me">Remember me?
      <%= f.check_box :remember_me, class: 'checkbox' %>
    </label>
  <% end -%>

  <hr>

  <%= f.submit "Sign in", class: 'btn btn-primary' %>
<% end %>

<%= render "links" %>
