<h1>Sign in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'well', autocomplete: 'off' }) do |f| %>

  <div class="alert alert-warning" style="color: black;">
    <p>
      If you haven't changed your passphrase since 8pm on Wednesday 6th March you must
      <%= link_to "click here", new_password_path(:user) %>
      to request a passphrase reset.
    </p>
    <p>
      From 6th March we have changed the GOV.UK passphrase policy. You must now change your passphrase at least once every 90 days.
    </p>
  </div>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'span6', autocomplete: 'off', autofocus: 'autofocus' %>

  <%= f.label :password, "Passphrase" %>
  <%= f.password_field :password, class: 'span6' %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox" for="remember_me">Remember me?
      <%= f.check_box :remember_me, class: 'checkbox' %>
    </label>
  <% end -%>

  <hr>

  <%= f.submit "Sign in", class: 'btn btn-primary' %>
<% end %>

<%= render "links" %>