<% content_for :title, "Sign in" %>

<div class="page-title">
  <h1>Sign in</h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'well', autocomplete: 'on' }) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control input-md-6', autofocus: 'autofocus' %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Passphrase" %>
    <%= f.password_field :password, class: 'form-control input-md-6' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox" for="remember_me">Remember me?
      <%= f.check_box :remember_me, class: 'checkbox' %>
    </label>
  <% end -%>

  <hr />

  <%= f.submit "Sign in", class: 'btn btn-primary' %>
<% end %>

<%= render "links" %>
