<%= render "govuk_publishing_components/components/title", title: "Sign in" %>

<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'on' } do |f| %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Email"
    },
    name: "user[email]",
    type: "email",
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Passphrase"
    },
    name: "user[password]",
    type: "password",
  } %>

  <p>
    <%= link_to "Forgot your passphrase?", new_password_path(resource_name) %><br />
  </p>

  <%= render "govuk_publishing_components/components/button", text: "Sign in" %>
<% end %>

<style>
 form {
   max-width: 700px;
 }
</style>
