<h2>Set your passphrase</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: resource } %>

  <p><%= f.submit "Set my passphrase", class: "btn btn-primary" %></p>
<% end %>
