<h1>Welcome to GOV.UK</h1>

<div class="well">
  <h2>Your account</h2>
  <ul>
    <li><%= link_to "Change your passphrase", edit_user_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>

  <% if current_user.is_admin? %>
    <h2>Admin tasks</h2>
    <ul>
      <li><%= link_to "Administer users", admin_users_path %></li>
    </ul>
  <% end %>

  <h2>Your Applications</h2>
  <ul>
    <% if current_user.permissions.any? %>
      <% current_user.permissions.sort_by { |p| p.application.name }.each do |permission| %>
        <% if should_list_app?(permission, permission.application) %>
          <li>
            <h3>
              <%= link_to_if permission.application.home_uri, permission.application.name, permission.application.home_uri %>
            </h3>

            <% if permission.application.description.present? %>
              <%= simple_format permission.application.description %>
            <% end %>

             <p>
              Roles: <em><%= permission.permissions.nil? ? "None" : permission.permissions.map(&:humanize).to_sentence %></em>
            </p>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <li>You aren't yet assigned to any applications.</li>
    <% end %>
  </ul>
</div>
