<% content_for :title, "Welcome to GOV.UK" %>

<ul class="govuk-list">
  <li><%= link_to "Change your email or passphrase", edit_email_or_passphrase_user_path(current_user) %></li>

  <% if current_user.has_2sv? %>
    <li><%= link_to "Change your 2-step verification phone", two_step_verification_path, class: "js-track" %></li>
  <% else %>
    <li><%= link_to "Make your account more secure", two_step_verification_path, class: "js-track" %></li>
  <% end %>
</ul>

<br/>
<br/>

<%= render "govuk_publishing_components/components/heading", heading_level: 2, text: "Your Applications", margin_bottom: 2 %>

<% if @applications_and_permissions.any? %>
    <% @applications_and_permissions.each do |application, permissions| %>
      <%= render "govuk_publishing_components/components/heading", text: link_to(application.name, application.home_uri), heading_level: 3 %>

      <% if application.description.present? %>
        <p><%= application.description %></p>
      <% end %>

      <% if permissions.any? %>
        <p>
          Roles: <em><%= current_user.permissions_for(application).map(&:humanize).to_sentence %></em>
        </p>
      <% end %>
    <% end %>
<% else %>
  <%= render "govuk_publishing_components/components/lead_paragraph",
    text: "You haven’t been assigned to any applications yet" %>
<% end %>
