<% content_for :title, "Your applications" %>

<% if show_user_research_recruitment_banner? %>
  <% content_for :user_research_recruitment_banner do %>
    <section class="user-research-recruitment-banner">
      <div class="govuk-width-container">
        <hr class="user-research-recruitment-banner__divider govuk-section-break govuk-section-break--l govuk-!-margin-top-0">
        <h1 class="user-research-recruitment-banner__title govuk-heading-xl">Help us improve GOV.UK Publishing</h1>
        <p class="user-research-recruitment-banner__intro govuk-body">We're holding research sessions to make Publishing work better.</p>
        <%= form_tag user_research_recruitment_update_path, method: :put do %>
          <div class="user-research-recruitment-banner__buttons govuk-button-group">
            <button class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-button govuk-button--start govuk-button--inverse" type="submit">
              <span>Find out more</span>
              <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </button>
            <button class="govuk-button govuk-button--inverse" type="submit" name="choice" value="dismiss-banner">
              Hide this
            </button>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% unless current_user.has_2sv? || current_user.exempt_from_2sv? %>
      <%= render "govuk_publishing_components/components/notice", {
        title: "Make your account more secure",
        description_text: (render "devise/two_step_verification/make_your_account_more_secure")
      } %>
    <% end %>

    <% if @applications_and_permissions.empty? %>
      <p class="govuk-body">
        You haven’t been assigned to any applications yet
      </p>
    <% end %>

    <% @applications_and_permissions.each do |application, permissions| %>
      <div class="app-application-list__item">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <%= link_to application.name, application.home_uri, class: "govuk-link" %>
        </h3>

        <p class="govuk-body">
          <%= application.description || "No description" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list app-dashboard-side">
      <li>
        <%= link_to "Change your email or password", edit_email_or_password_user_path(current_user), class: "govuk-link" %>
      </li>

      <% if current_user.has_2sv? %>
        <li><%= link_to "Change your 2-step verification phone", two_step_verification_path, class: "govuk-link" %></li>
      <% else %>
        <li><%= link_to "Set up 2-step verification", two_step_verification_path, class: "govuk-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
