<% content_for :title, "Your applications" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @applications_and_permissions.empty? %>
      <p class="govuk-body">
        You haven’t been assigned to any applications yet
      </p>
    <% end %>

    <% @applications_and_permissions.each do |application, permissions| %>
      <div class="app-application-list__item">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <%= link_to application.name, application.home_uri, class: "govuk-link" %>
        </h3>

        <p class="govuk-body">
          <%= application.description || "No description" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <ul class="govuk-list app-dashboard-side">
      <li>
        <%= link_to "Change your email or password", edit_email_or_password_user_path(current_user) %>
      </li>

      <% if current_user.has_2sv? %>
        <li><%= link_to "Change your 2-step verification phone", two_step_verification_path, class: "js-track" %></li>
      <% else %>
        <li><%= link_to "Make your account more secure", two_step_verification_path, class: "js-track" %></li>
      <% end %>
    </ul>
  </div>
</div>
