<section>
  <h3>Your Account</h3>

  <ul>
    <li><%= link_to "Change your passphrase", edit_user_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>
</section>

<% if current_user.is_admin? %>
  <section>
    <h3>Admin</h3>
    <ul>
      <li><%= link_to "Administer users", admin_users_path %></li>
    </ul>
  </section>
<% end %>

<section>
  <h3>Permissions</h3>
  <ul>
    <% current_user.permissions.each do |permission| %> 
      <li>
        <%= permission.application.name %> : <%= permission.permissions.nil? ? "None" : permission.permissions.map(&:humanize).join(",") %>
      </li>
    <% end %>
  </ul>
</section>

<%- unless current_user.authorisations.empty? %>
  <section>
    <h3>Authorised Applications</h3>
    <ul>
    <%- current_user.authorisations.each do |authorisation| -%>
      <li><%= authorisation.application.name %></li>
    <%- end -%>
    </ul>
  </section>
<%- end -%>