<% content_for :title, "Upload a batch of users" %>

<div class="page-title">
  <h1>Upload a batch of users</h1>
</div>

<% if recent_batch_invitations.any? %>
  <h3 class="add-bottom-margin">Recent batches</h3>
  <table class="recent-batches table table-bordered">
    <thead>
      <tr class="table-header">
        <th>Summary</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% recent_batch_invitations.each do |batch_invitation| %>
        <tr>
          <td>
            <%= link_to(batch_invitation_path(batch_invitation), alt: "View this batch") do %>
              <%= batch_invitation.batch_invitation_users.count %> users by <%= batch_invitation.user.name %> at <%= batch_invitation.created_at.to_s(:govuk_date) %>
            <% end %>
          </td>
          <td><%= batch_invite_status_message(batch_invitation) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="well">
  <%= form_for @batch_invitation do |f| %>
    <h2>Upload a CSV</h2>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :user_names_and_emails, "Choose a CSV file of users with names and email addresses" %>
        <%= f.file_field(:user_names_and_emails, :accept => 'text/csv', required: true) %>
      </div>
      <div class="col-md-5 pull-right">
        <p>The format of the CSV should be as follows:</p>
        <% if policy(f.object).assign_organisation_from_csv? %>
          <pre>
Name,Email,Organisation
Jane Smith,jane@example.com,government-digital-service
Winston Churchill,winston@example.com,cabinet-office
          </pre>
          <p class="help-block">The values in the Organisation column should be the slug of the organisation the user will be assigned to.  If the value is blank, the user will be assigned to the Organisation selected in the drop-down below.  If the value is provided, but is not a valid slug, the user will not be invited.  You can find the slug for an organisation on <%= link_to 'the list of organisations', organisations_path %>.</p>
        <% else %>
          <pre>
Name,Email
Jane Smith,jane@example.com
Winston Churchill,winston@example.com
          </pre>
        <% end %>
        <p class="help-block">Any fields in the CSV other than those shown above will be ignored.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :organisation_id, "Organisation" %>
      <%= f.select :organisation_id, organisation_options(f), organisation_select_options, { class: "chosen-select", 'data-module' => 'chosen' } %>
      <% if policy(f.object).assign_organisation_from_csv? %>
        <p class="help-block">If the uploaded CSV doesn't contain an Organisation column, or the value is blank for a row, the user will be assigned to this organisation instead.</p>
      <% else %>
        <p class="help-block">All users in the CSV will be assigned to the organisation selected here.</p>
      <% end %>
    </div>

    <h2>Permissions for the users</h2>

    <%= render partial: "shared/user_permissions", locals: { user_object: User.new } %>

    <%= f.submit "Create users and send emails", :class => 'btn btn-success' %>
  <% end %>
</div>
