<% content_for :title, "Create new access token" %>

<h1>Create new access token for "<%= @api_user.name %>"</h1>

<%= form_for @authorisation, url: [:api_user, :authorisations], html: { class: 'well add-top-margin' } do |f| %>

  <p class="form-group">
    <%= f.label :application_id %><br />
    <%= f.select :application_id, options_from_collection_for_select(Doorkeeper::Application.all, 'id', 'name'), {}, class: "chosen-select form-control" %>
  </p>

  <%= f.submit "Create access token", :class => 'btn btn-success add-top-margin' %>
<% end %>
