<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'span6', autofocus: true %>
</p>

<p>
  <%= f.label :email %>
  <%= f.text_field :email, :class => 'span6' %>
  <% if f.object.persisted? %>
    <% if f.object.invited_but_not_yet_accepted? %>
      <span class="help-inline">Changes will trigger a new signup email.</span>
    <% else %>
      <span class="help-inline">Changes are pending until confirmation via link in an email.</span>
    <% end %>
  <% end %>
</p>

<% if f.object.unconfirmed_email.present? %>
  <p>
    <%= f.label :unconfirmed_email, "Pending email" %>
    <%= f.text_field :unconfirmed_email, readonly: "readonly", disabled: "disabled", :class => "span6" %>

    <span class="help-inline">
      <%= link_to "Resend email change", resend_email_change_admin_user_path(f.object), :method => :put, :class => "btn btn-primary" %>
      <%= link_to "Cancel email change", cancel_email_change_admin_user_path(f.object), :method => :delete, :class => "btn btn-danger" %>
    </span>
  </p>
<% end %>

<% if can? :assign_role, User %>
  <p>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(User.roles.map(&:humanize).zip(User.roles), f.object.role), {}, class: "chzn-select" %>
    <span class="help-inline">
      Admins can create and edit normal users. Superadmins can create and edit all user types and edit applications.
    </span>
  </p>
<% end %>

<p>
  <%= f.label :organisation_id, "Organisation" %>
  <%= f.select :organisation_id, organisation_options(f), organisation_select_options, { class: "chzn-select" } %>
</p>

<h2>Permissions</h2>

<%= render partial: "admin/shared/user_permissions", locals: { user_object: f.object }%>

<script type="text/javascript">
  $(".chzn-select").chosen();
</script>
