<h1>Edit user &ldquo;<%= @user.name %>&rdquo;</h1>

<%= form_for [:admin, @user], :html => {:class => 'well'} do |f| %>
  
  <% if @user.errors.count > 0 %>
    <div class="alert alert-error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "form_fields", locals: { f: f } %>

  <hr>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
