<h1>Edit user &ldquo;<%= @user.name %>&rdquo;</h1>

<%= form_for [:admin, @user], :html => {:class => 'well'} do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :class => 'span6' %>

  <%= f.label :email %>
  <%= f.text_field :email, :class => 'span6' %>

  <label class="checkbox" for="user_is_admin">Is admin?
    <%= f.check_box :is_admin, :class => 'checkbox' %>
  </label>

  <hr>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
