<h2>Edit user <%= @user.name %></h2>

<%= form_for [:admin, @user] do |f| %>
  
  <% if @user.errors.count > 0 %>
    <div class="alert alert-error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "form_fields", locals: { f: f } %>

  <p><%= f.submit %></p>
<% end %>
