<% content_for :title, "Edit user" %>

<h1>Edit user &ldquo;<%= @user.name %>&rdquo;</h1>

<p class="suspenders">
  User <strong><%= @user.suspended? ? "suspended" : "active" %></strong> &bull;
  <%= link_to "Account access log", admin_user_event_logs_path(@user) %> &bull;
  <%= link_to "#{@user.suspended? ? "Uns" : "S"}uspend user", edit_admin_suspension_path(@user) %>
</p>

<% if @user.access_locked? %>
  <div class="alert">
    <strong>Account has been locked after too many unsuccessful login attempts.</strong><br/>
    Locked accounts are automatically unlocked after 1 hour.
    <%= form_tag unlock_admin_user_path(@user), class: 'unlock-account-form' do %>
      <%= submit_tag "Unlock account", :class => 'btn top-buffer' %>
    <% end %>
  </div>
<% end %>

<% if @user.suspended? and @user.reason_for_suspension.present? %>
  <p class="alert">
    <strong>User suspended:</strong> <em><%= @user.reason_for_suspension %></em>
  </p>
<% end %>

<%= form_for [:admin, @user], :html => {:class => 'well'} do |f| %>
  
  <% if @user.errors.count > 0 %>
    <div class="alert alert-error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "form_fields", locals: { f: f } %>

  <hr>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
