<h1>User accounts</h1>

<div class="well">

  <div class="row-fluid">
    <div class="span7">
      <div>
        <%= form_tag "", method: "get", class: "pull-left form-inline" do %>
          <label>
            <strong>Filter by name or email:</strong>
            <%= text_field_tag "filter", params[:filter] %>
          </label>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <%= form_tag "", method: "get" do %>
          <%= hidden_field_tag "filter" %>
          <%= submit_tag "Clear", class: "btn offset" %>
        <% end %>
      </div>
    </div>
    <div class="span5">
      <div class="pull-right">
        <%= link_to "Create new user", new_user_invitation_path, class: "btn btn-success text-left" %>
        <% if can? :create, BatchInvitation %>
          <%= link_to "Upload a batch of users", new_admin_batch_invitation_path, class: "btn text-right" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "pagination" %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name and email</th>
        <th scope="col">Role</th>
        <th scope="col">Sign-in count</th>
        <th scope="col">Last sign-in</th>
        <th scope="col">Created</th>
        <th scope="col">Suspended?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="email">
            <%= user.suspended? ? "<del>".html_safe : "" %>
              <%= link_to "#{user.name} <#{user.email}>", edit_admin_user_path(user) %>
            <%= user.suspended? ? "</del>".html_safe : "" %>
          </td>
          <td class="role"><%= user.role.humanize %></td>
          <td><%= user.sign_in_count %></td>
          <td class="last-sign-in">
            <% if user.current_sign_in_at %>
              <%= time_ago_in_words(user.current_sign_in_at) %> ago
            <% else %>
              never signed in
            <% end %>
          </td>
          <td><%= time_ago_in_words(user.created_at) %> ago</td>
          <td><%= user.suspended? ? "Yes" : "No" %></td>
          <td>
            <% if user.invited_but_not_accepted %>
              <%= form_tag resend_user_invitation_path(user) do %>
                <%= submit_tag "Resend signup email", :class => 'btn btn-primary' %>
              <% end %>
            <% end %>
            <% if user.access_locked? %>
              <%= form_tag unlock_admin_user_path(user) do %>
                <%= submit_tag "Unlock", :class => 'btn btn-danger' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render partial: "pagination" %>

</div>
