<div class="well">
  <h2 class="alert alert-success">Successfully synced permissions with some applications</h2>
  <% if ! @successes.blank? %>
    <ul>
      <% @successes.each do |success| %>
        <% application = success[:application] %>
        <li><%= application.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="well">
  <% if ! @failures.blank? %>
    <h2 class="alert alert-danger">WARNING: Failed to sync permissions with some applications</h2>
    <p>
      If you needed to deny access or change permissions for one of these apps, please try again.
    </p>

    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="span2">App</th>
          <th class="span4">Failure reason</th>
          <th class="span3">Technical details</th>
        </tr>
      </thead>
      <tbody>
        <% @failures.each do |failure| %>
          <% application = failure[:application] %>
          <tr>
            <td><%= application.name %></td>
            <td><%= failure[:message] %></td>
            <td><%= failure[:technical] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="well">
  <%= link_to "Back to user", edit_admin_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "All users", admin_users_path, class: "btn" %>
</div>