<%= render 'govuk_publishing_components/components/layout_for_admin',
  product_name: "Signon",
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  browser_title: yield(:title) do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Signon",
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: navigation_items,
  }%>

  <div class="govuk-width-container">
    <% if yield(:back_link).present? %>
      <%= render "govuk_publishing_components/components/back_link", href: yield(:back_link) %>
    <% end %>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <% if flash["notice"].present? %>
        <%= render "govuk_publishing_components/components/success_alert", {
          message: flash["notice"]
        } %>
      <% end %>

      <% if flash["alert"].present? %>
        <%= render "govuk_publishing_components/components/error_alert", {
          message: flash["alert"]
        } %>
      <% end %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l"><%= yield(:context) %></span>
          <h1 class="govuk-heading-l"><%= yield(:title) %></h1>
        </div>
      </div>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.new.external_url_for("support"),
            text: "Raise a support request"
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content"
          }
        ]
      }
    ]
  } %>

  <%# TODO: replace with component %>
  <script class="analytics">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26179049-6', '<%= ENV['GOVUK_APP_DOMAIN'] %>');
    ga('set', 'anonymizeIp', true);

    <% if current_user %>
      ga('set', 'dimension8', "<%= current_user.organisation ? current_user.organisation.slug : '(not set)' %>");
    <% end %>

    ga('send', 'pageview');
  </script>
<% end %>
