<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | www.gov.uk</title>
    <%= stylesheet_link_tag 'calendar' %>
    <meta name="x-section-name" content="Calendars" />
    <meta name="x-section-link" content="calendar" />
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
<body>
  <div id="wrapper" class="calendar">
    <%= yield %>
  </div>
</body>
</html>