<% content_for :app_title, "#{t('department.name')} Signon" %>
<% content_for :page_title, "#{yield(:title)} | #{t('department.name')} Signon" %>
<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'legacy_layout' %>
  <%= javascript_include_tag 'legacy_layout' %>
  <%= yield :content_for_head %>
<% end %>

<% if sensitive_query_parameters? %>
  <% content_for :custom_pageview_fullpath, sanitised_fullpath %>
<% end %>

<% if user_signed_in? && params[:controller] !~ %r{doorkeeper/} %>
  <% unless content_for :suppress_navbar_items %>
    <% content_for :navbar_items do %>
      <%= nav_link 'Dashboard', root_path %>
      <% if policy(User).index? %>
        <%= nav_link 'Users', users_path %>
      <% end %>
      <% if policy(ApiUser).index? %>
        <%= nav_link 'API Users', api_users_path %>
      <% end %>
      <% if policy(Doorkeeper::Application).index? %>
        <%= nav_link 'Applications', doorkeeper_applications_path %>
      <% end %>
      <% if policy(Organisation).index? %>
        <%= nav_link 'Organisations', organisations_path %>
      <% end %>
    <% end %>
  <% end %>

  <% content_for :navbar_right do %>
    <%= link_to current_user.name, user_link_target %>
    &bull; <%= link_to 'Sign out', destroy_user_session_path %>
  <% end %>

  <% content_for :before_pageview_js do %>
    GOVUKAdmin.setDimension(8, "<%= current_user.organisation ? current_user.organisation.slug : '(not set)' %>")
  <% end %>
<% end %>

<% content_for :content do %>
  <% if content_for?(:thin_form) %><div class="thin-form"><% end %>
  <%= render partial: 'shared/bootstrap_flash_messages' %>
  <%= yield %>
  <% if content_for?(:thin_form) %></div><% end %>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<%# use the govuk_admin_template layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
