<!DOCTYPE html>
<html>
<head>
  <title>Signonotron2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="site-title">Account Sign On</h1>

<div id='wrapper'>

<%- if notice %><p class="flash-notice"><%= notice %></p><% end -%>
<%- if alert %><p class="flash-alert"><%= alert %></p><% end %>

<%= yield %>
</div>

</body>
</html>
