<!DOCTYPE html>
<html>
<head>
  <title>GOV.UK Signon</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap', 'application' %>

  <%= javascript_include_tag 'application', 'bootstrap-alert', 'bootstrap-button', 'bootstrap-modal', 'bootstrap-transition' %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "GOV.UK Signon", root_path, :class => 'brand' %>
      </div>
    </div>
  </div>

  <div class="container">

    <%- if notice %><div class="alert alert-success"><%= notice %></div><% end -%>
    <%- if alert %><div class="alert alert-error"><%= alert %></div><% end %>

    <%= yield %>

    <hr>

    <footer>
      <p>&copy; GDS. <span class="pull-right">Signon version 2.0</span></p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
