<% content_for :head do %>
  <%= render "layouts/google_tag_manager" %>
  <%= render "layouts/analytics_meta_tags" %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin",
  product_name: "Signon",
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  browser_title: yield(:title) do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Signon",
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: navigation_items,
  }%>

  <%= yield(:user_research_recruitment_banner) %>

  <div class="govuk-width-container">
    <% if yield(:back_link).present? %>
      <%= render "govuk_publishing_components/components/back_link", href: yield(:back_link) %>
    <% elsif yield(:breadcrumbs).present? %>
      <%= yield(:breadcrumbs) %>
    <% end %>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <% if flash["notice"].present? %>
        <%= render "govuk_publishing_components/components/success_alert", {
          message: flash["notice"]
        } %>
      <% end %>

      <% if flash["alert"].present? %>
        <%= render "govuk_publishing_components/components/error_alert", {
          message: flash["alert"]
        } %>
      <% end %>

      <%= yield(:custom_alerts) %>

      <%= yield(:error_summary) %>

      <div class="govuk-grid-row">
        <div class="<%= yield(:top_right).present? ? 'govuk-grid-column-one-third' : 'govuk-grid-column-two-thirds' %>">
          <% if yield(:title_caption).present? %>
            <span class="govuk-caption-l"><%= yield(:title_caption) %></span>
          <% end %>
          <h1 class="govuk-heading-l">
            <% if yield(:page_heading).present? %>
              <%= yield(:page_heading) %>
            <% else %>
              <%= yield(:title) %>
            <% end %>
          </h1>
        </div>
        <% if yield(:top_right).present? %>
          <div class="govuk-grid-column-two-thirds">
            <%= yield(:top_right) %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          (
            {
              href: Plek.external_url_for("support"),
              text: "Raise a support request"
            } if user_signed_in?
          ),
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content",
          },
          {
            href: privacy_notice_url,
            text: "Privacy notice",
          },
          {
            href: accessibility_statement_url,
            text: "Accessibility statement",
          },
          {
            href: "https://status.publishing.service.gov.uk/",
            text: "Check if publishing apps are working or if there’s any maintenance planned",
          }
        ].compact
      }
    ]
  } %>

  <%= javascript_include_tag "es6-components", type: "module" %>
<% end %>
