<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= stylesheet_link_tag 'calendar' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="answer">
      <%= yield %>

      <div id="related-items"></div>
    </div>
  </body>
</html>
