<!DOCTYPE html>
<html>
<head>
  <title>ODI Signon</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :content_for_head %>
</head>
<body>

  <div class="navbar navbar-fixed-top" role="banner">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Signon", "/", :class => 'brand' %>
        <% if user_signed_in? && params[:controller] !~ %r{doorkeeper/} %>
          <nav role="navigation" class="nav-collapse">
            <ul class="nav">
              <%= nav_link 'Dashboard', root_path %>
              <% if current_user.has_role?("admin") %>
                <%= nav_link 'Administer users', admin_users_path %>
              <% end %>
              <% if current_user.has_role?("superadmin") %>
                <%= nav_link 'Administer applications', superadmin_applications_path %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  Services
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="http://theodi.org/">ODI Website</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path %></li>
                </ul>
              </li>
            </ul>

            <p class="navbar-text pull-right">Signed in as <%= current_user.name %></p>
          </nav>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container" role="main">

    <%- if notice %><div class="alert alert-success" role="alert"><%= notice %></div><% end -%>
    <%- if alert %><div class="alert alert-error" role="alert"><%= alert %></div><% end %>

    <%= yield %>

    <hr>

    <footer role="contentinfo">
      <p><span class="pull-right">Signon release: <%= CURRENT_RELEASE_SHA %></span></p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
