<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= stylesheet_link_tag 'calendar' %>
    <meta name="x-section-name" content="Life in the UK" />
    <meta name="x-section-link" content="/browse/life-in-the-uk" />
    <meta name="x-section-format" content="answer" />
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="answer">
      <%= yield %>

      <div id="related-items"></div>
    </div>
  </body>
</html>
